@charset "UTF-8";
@import '../../css/Colors.css';
@import '../../css/CategoryProvider.css';

/* Sync for Science Discovery Providers Stylesheet */
/* v.01.15 Updated 02/12/2019 */

.providers {
	@insert .categories-providers;
	margin:10px 20px 0 0;
}

.single-provider {
	display: flex;
	flex-direction:column;
	height:36px;
	max-height:36px; 
	min-width:184px;
	max-width:184px;
	justify-content:center;
	align-items:center;
	margin:10px 0 0 20px;
	background-color:var(--primary-100);
}

.single-provider-label {
	font-family:discovery-bold;
	font-size:0.750rem;
	color:var(--white-100);
	padding:0;
}

.single-provider-name {
	font-family:discovery-data-bold;
	font-size:0.750rem;
	color:var(--white-100);
	margin:0 0 0 10px;
}