@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/CategoryProvider.css';

/* Sync for Science Discovery Providers Stylesheet */
/* v.01.14 Updated 02/01/2019 */

.providers {
	@insert .categories-providers;
	margin:10px 20px 0 0;
}

.single-provider {
	display: flex;
	flex-direction:column;
	height:36px;
	max-height:36px; 
	min-width:184px;
	max-width:184px;
/*	background-color:var(--provider); */
	justify-content:center;
	align-items:center;
	margin:10px 0 0 20px;
	background-color:var(--discovery-blue);
}

.single-provider-label {
	font-family:discovery-bold;
	font-size:0.750rem;
	color:var(--white);
	padding:0;
}

.single-provider-name {
	font-family:discovery-data-bold;
	font-size:0.750rem;
	color:var(--white);
	margin:0 0 0 10px;
}