@charset "UTF-8";

/* Sync for Science Discovery Providers Stylesheet */
/* v.01.08 Updated 10/09/2018 */

.providers {
	height:auto;
	width:auto;
	margin:20px 0 0 0;
	padding:0 20px;
}

.single-provider {
	display: flex;
	flex-direction:column;
	height:36px;
	min-width:184px;
	max-width:184px;
	background-color:var(--discovery-provider);
	justify-content:center;
	align-items:center;
	margin:10px 0 0 20px;
}

.single-provider-label {
	font-family:discovery-bold;
	font-size:0.750rem;
	color:var(--discovery-background);
	padding:0;
}

.single-provider-name {
	font-family:discovery-data-bold;
	font-size:0.750rem;
	color:var(--discovery-background);
	margin:0 0 0 10px;
}