@charset "UTF-8";

/* Sync for Science Discovery Immunizations Stylesheet */
/* v.01.10 Updated 10/08/2018 */

.immunizations-display {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:1/span 40;
}

.immunizations-status-label {
	height:auto;
	width:132px;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:1;
}

.immunizations-status-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 2/span 2;
}

.immunizations-given-label {
	height:auto;
	width:132px;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 1;
}

.immunizations-given-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	color: var(--discovery-data);
	text-align: left;
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.immunizations-primary-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 15px;
	grid-column:3;
}

.immunizations-primary-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:4;
}

.immunizations-reported-label {
	height:auto;
	width:132px;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 1;
}

.immunizations-reported-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 2;
}

