@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Immunizations Stylesheet */
/* v.01.15 Updated 12/26/2018 */

.immunizations-display {
	@insert .content-panel-display;
}

.immunizations-status-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column:1;
}

.immunizations-status-value {
	@insert .value;
	grid-column: 2/span 2;
}

.immunizations-given-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column: 1;
}

.immunizations-given-value {
	@insert .value;
	grid-column:2;
}

.immunizations-primary-label {
	@insert .label;
	padding:6px 0 0 15px;
	grid-column:3;
}

.immunizations-primary-value {
	@insert .value;
	grid-column:4;
}

.immunizations-reported-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column: 1;
}

.immunizations-reported-value {
	@insert .value;
	grid-column: 2;
}

.immunizations-provider-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 0;
	grid-column:1;
}

.immunizations-provider-value {
	@insert .value;
	grid-column:2;
}
