@charset "UTF-8";
@import '../../css/ViewContainer.css';

/* Sync for Science Discovery ConsultView Stylesheet */
/* v.01.05 Updated 04/12/2019 */

/* .consult-view {
	@insert .view-container;
}

.consult-title {
	@insert .view-title;
	background-image: url("../../svg/view-icon-consult.svg");
}

.consult-title-name {
   @insert .view-title-name;
}

.consult-contents {
	@insert .view-contents;
}
*/

.consult-view-icon {
   height: 50px;
   min-width: 50px;
   background-image: url("../../svg/view-icon-consult.svg");
   background-repeat: no-repeat;
   background-position: 0px center;
   background-size: 35px 35px;
}
