# Ignore everything
**

# Especially ignore:
.git
**/node_modules

# Allow files and directories
!/config/**
!/public/**
!/src/**
!package.json
!package-lock.json
!.babelrc
!config-overrides.js
!postcss.config.js
!run.sh
