[Unit]
Description=S4S Discovery Demo
StartLimitInterval=0

[Service]
Type=simple
WorkingDirectory=/home/sklein/discovery-demo
Environment=PORT=3001
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
