@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery MedsDispensed Stylesheet */
/* v.01.14 Updated 11/15/2018 */

.meds-dispensed-display {
	@insert .content-panel-display;
}

.meds-dispensed-status-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column: 1;
}

.meds-dispensed-status-value {
	@insert .value;
	grid-column:2/ span 3;
}

.meds-dispensed-quantity {
	@insert .value;
	font-family: discovery-data;
	text-align: right;
	grid-column:1;
}
.meds-dispensed-quantity-unit {
	@insert .label;
	text-align: left;
	padding:6px 0 0 0;
	grid-column: 2;
}

.meds-dispensed-supply {
	@insert .value;
	font-family: discovery-data;
	text-align: right;
	padding:0 0 0 15px;
	grid-column: 3;
}

.meds-dispensed-supply-unit {
	@insert .label;
	text-align: left;
	padding:6px 0 0 0;
	grid-column: 4;
}