@charset "UTF-8";

/* Sync for Science Discovery MedsDispensed Stylesheet */
/* v.01.10 Updated 10/08/2018 */

.meds-dispensed-display {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 1/span 40;
}

.meds-dispensed-status-label {
	height:auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 1;
}

.meds-dispensed-status-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2/ span 3;
}

.meds-dispensed-quantity {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: right;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:1;
}
.meds-dispensed-quantity-unit {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: left;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 2;
}

.meds-dispensed-supply {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: right;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0 0 0 15px;
	grid-column: 3;
}

.meds-dispensed-supply-unit {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: left;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 4;
}