@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Claims Stylesheet */
/* v.01.01 Updated 3/02/2019 */

.claims-billable-label {
   @insert .label;
   text-align: right;
   padding:4px 0 0 0;   
   grid-column:1;
}

.claims-billable-value {
   @insert .value;
   font-family: discovery-data;
   width:auto;
   padding:0;
   grid-column:2/span 2;
}

.claims-billable-value-separator {
   @insert .label;
   width:auto;
   text-align: center;
   padding:4px 0 0 0; 
   grid-column:4;
}

.claims-billable-value2 {
   @insert .value;
   font-family: discovery-data;
   width:auto;
   grid-column:5/span 7;
}

.claims-total-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.claims-total-value {
   @insert .value;
   width:auto;
   font-family: discovery-data;
   text-align: left;
   grid-column:2;
}

.claims-total-currency {
   @insert .label;
   text-align: left;
   padding:4px 0 0 0;
   grid-column:3;
}

.claims-provider-label {
   @insert .label;
   width:auto;
   padding:6px 0 0 0;
   grid-column:1;
}

.claims-provider-value {
   @insert .value;
   grid-column:2/span 7;
}

.claims-status-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.claims-status-value {
   @insert .value;
   text-align: left;
   grid-column:2;
}

.claims-use-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.claims-use-value {
   @insert .value;
   text-align: left;
   grid-column:2;
}

.claims-diagnosis-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.claims-diagnosis-value {
   @insert .value;
   text-align: left;
   grid-column:2/span 5;
}
