@charset "UTF-8";

/* Sync for Science Discovery ProviderRollup Stylesheet */
/* v.01.03 Updated 07/30/2018 */

.provider-rollup {
	display:flex;
	flex-direction: row;
	height: 36px;
	width:100%;
	margin: 0;
}

.provider-rollup-nav-enabled {
	display:flex;
	justify-content: center;
	height: auto;
	width:250px;
	min-width: 250px;
	margin:0;
	padding: 9px 0;
	background-color: var(--discovery-provider);
	background-image: url(../../svg/arrow-down-icon.svg);
	background-size: 25px 25px;
	background-position: 8px 7px;
	background-repeat: no-repeat;
	font-family:discovery-bold;
	font-size: inherit;
	color: var(--discovery-provider-label-light);
	text-align: center;
}

.provider-rollup-nav-disabled {
	display:flex;
	justify-content: center;
	height: auto;
	width:250px;
	min-width: 250px;
	margin:0;
	padding: 9px 0;
	background-color: var(--discovery-provider);
	background-image: url(../../svg/arrow-right-icon.svg);
	background-size: 25px 25px;
	background-position: 8px 7px;
	background-repeat: no-repeat;
	font-family:discovery-bold;
	font-size: inherit;
	color: var(--discovery-provider-label-light);
	text-align: center;
}

.provider-rollup-svg-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	width: 100%;
	margin: 0;
	padding:0 5px 0 5px;
	background-image: url(../../svg/horizontal-rule-1px-black.svg);
	background-position: center;
	background-repeat: repeat-x;
	background-clip: padding-box;
	overflow:hidden;
}

.provider-rollup-svg {
	height:inherit;
	overflow: visible;
}