@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/CategoryProvider.css';

/* Sync for Science Discovery ProviderRollup Stylesheet */
/* v.01.14 Updated 11/16/2018 */

.provider-rollup {
	@insert .category-provider-rollup;
}

.provider-rollup-nav-enabled {
	@insert .category-provider-rollup-nav-enabled;
	color:var(--white);
	background-color:var(--provider);
}

.provider-rollup-nav-disabled {
	@insert .category-provider-rollup-nav-disabled;
	color:var(--white);
	background-color:var(--provider);
}

.provider-rollup-svg-container {
	@insert .category-provider-svg-container;
}

.provider-rollup-svg {
	@insert .category-provider-svg;
}