@charset "UTF-8";
@import '../../css/Colors.css';
@import '../../css/CategoryProvider.css';

/* Sync for Science Discovery ProviderRollup Stylesheet */
/* v.01.16 Updated 04/12/2019 */

.provider-rollup {
	@insert .category-provider-rollup;
}

.provider-rollup-nav-enabled {
	@insert .category-provider-rollup-nav-enabled;
	color:var(--white-100);
	background-color:var(--primary-100);
}

.provider-rollup-nav-disabled {
	@insert .category-provider-rollup-nav-disabled;
	color:var(--white-100);
	background-color:var(--primary-100);
}

.provider-rollup-svg-container {
	@insert .category-provider-svg-container;
}

.provider-rollup-svg {
	@insert .category-provider-svg;
}