@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';

/* Sync for Science Discovery PageFooter Stylesheet */
/* v.01.11 Updated 10/22/2018 */

.page-footer {
	position:fixed;
	left:0;
	bottom:0;
	height:10px;
	width:100%;
	min-width:1024px;
	border-top:2px  solid var(--blue-dark);
	padding:0 20px;
	background-color: var(--gray-medium);
	display:flex;
   flex-direction:row;
}

.footer-snapshot-date {
   font-family:discovery-regular;
	font-size:8px;
	color:var(--blue-dark);
	vertical-align:middle;
	margin:1px 30px 0 auto;
}