@charset "UTF-8";

/* Sync for Science Discovery Sparkline Stylesheet */

/* v.01.02 Updated 05/13/2019 */

.mark {

}

.mark-noclick {
  cursor: default;
}

.line {
  color: black;
}

.line-noclick {
  stroke: black;
  cursor: default;
}
