@charset "UTF-8";

/* Sync for Science Discovery LongitudinalView Stylesheet */
/* v.01.13 Updated 04/12/2019 */

.longitudinal-view-icon {
   height: 50px;
   min-width: 50px;
   background-image: url("../../svg/view-icon-report-on.svg");
   background-repeat: no-repeat;
   background-position: 0px center;
   background-size: 35px 35px;
}
