@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';

/* Sync for Science Discovery LongitudinalView Stylesheet */
/* v.01.05 Updated 12/05/2018 */

.longitudinal-view {
	position: fixed;
	top:62px;
	left:0;
	width:100%;
	min-width: 1024px;
	height:calc(100% - 62px - 12px);
}

.longitudinal-view-categories-and-providers {
	position: fixed;
	top: 139px;
	left: 0;
	width:100%;
	height: auto;
	margin:0;
	padding:0;
	overflow:hidden;
}

.longitudinal-view-category-nav-spacer-top {
	height:3px;
	min-height:3px;
	width:180px;
	min-width:182px;
	margin:0;
	padding:0;
	cursor:default;
}

.longitudinal-view-category-nav-spacer-bottom {
	height:3px;
	min-height:3px;
	width:182px;
	min-width:182px;
	margin:2px 0 8px;
	padding:0;
}

.longitudinal-view-provider-nav-spacer-top {
	height:3px;
	min-height:3px;
	width:182px;
	min-width:182px;
	margin:0;
	padding:0;
}

.longitudinal-view-provider-nav-spacer-bottom {
	height:3px;
	min-height:3px;
	width:182px;
	min-width:182px;
	margin:3px 0 0;
	padding:0;
}

.longitudinal-view-single-provider{
	display: flex;
	flex-direction:column;
	height:28px;
	max-height:28px; 
	min-width:184px;
	max-width:184px;
	background-color:var(--discovery-provider);
	justify-content:center;
	align-items:center;
	margin:10px 0 0 20px;
}

.longitudinal-view-single-provider-label{
	display: flex;
	flex-direction:column;
	height:28px;
	max-height:28px; 
	min-width:184px;
	max-width:184px;
	background-color:var(--discovery-provider);
	justify-content:center;
	align-items:center;
	margin:10px 0 0 20px;
}

.longitudinal-view-single-provider-name{
	font-family:discovery-bold;
	font-size:0.750rem;
	color:var(--white);
	padding:0;
}


