@charset "UTF-8";
/* @import '../../css/ColorVariablesMaster.css'; */
@import '../../css/ViewContainer.css';

/* Sync for Science Discovery StandardFilters Stylesheet */
/* v.01.01 Updated 03/03/2019 */

.standard-filters-categories-and-providers {
	position: fixed;
	top: 146px;
	left: 0;
	width:100%;
	min-width:1024px;
	height: auto;
	margin:0;
	padding:0;
	overflow:visible;
}

.standard-filters-category-nav-spacer-top {
	height:3px;
	min-height:3px;
	width:180px;
	min-width:182px;
	margin:0;
	padding:0;
	cursor:default;
}

.standard-filters-category-nav-spacer-bottom {
	height:3px;
	min-height:3px;
	width:182px;
	min-width:182px;
	margin:2px 0 8px;
	padding:0;
}

.standard-filters-provider-nav-spacer-top {
	height:3px;
	min-height:3px;
	width:182px;
	min-width:182px;
	margin:0;
	padding:0;
}

.standard-filters-provider-nav-spacer-bottom {
	height:3px;
	min-height:3px;
	width:182px;
	min-width:182px;
	margin:3px 0 0;
	padding:0;
}

.standard-filters-single-provider{
	display: flex;
	flex-direction:column;
	height:28px;
	max-height:28px; 
	min-width:184px;
	max-width:184px;
	background-color:var(--discovery-provider);
	justify-content:center;
	align-items:center;
	margin:10px 0 0 20px;
}

.standard-filters-single-provider-label{
	display: flex;
	flex-direction:column;
	height:28px;
	max-height:28px; 
	min-width:184px;
	max-width:184px;
	background-color:var(--discovery-provider);
	justify-content:center;
	align-items:center;
	margin:10px 0 0 20px;
}

.standard-filters-single-provider-name{
	font-family:discovery-bold;
	font-size:0.750rem;
	color:var(--white);
	padding:0;
}
