@charset "UTF-8";

/* Sync for Science Discovery ParticipantList Stylesheet */
/* v.01.06 Updated 08/20/2018 */

.participant-list {
	height: 100%;
}

.participant-list-header {
	position: fixed;
	top: 0;
	left: 0;
	display:flex;
	flex-direction: row;
	height: 3.750rem;
	min-height: 3.750rem;
	width: 100%;
	padding:0 1.25rem;
	border-bottom: 0.188rem solid var(--discovery-blue);
	background-color: var(--discovery-gray);
}

.logo-box {
	display:flex;
	align-items: center;
	height:3.750rem;
	width:13.750rem;
	min-width:13.750rem;
	padding:0;
}

.logo-s4s-button-off {
	height:3.750rem;
	width:13.750rem;
	border:none;
	padding:0;
	background-color:transparent;
	background-image: url(../../svg/logo-s4s-off.svg);
	background-size: 13.750rem 3.750rem;
	background-repeat:no-repeat;
	outline: none;
	cursor:none;
}

.logo-s4s-button-on {
	height:3.750rem;
	width:13.750rem;
	border:none;
	padding:0px;
	background-color:transparent;
	background-image: url(../../svg/logo-s4s-on.svg);
	background-size: 13.750rem 3.750rem;
	background-repeat:no-repeat;
	outline: none;
	cursor:none;
}

.participant-list-content {
	position:absolute;
	top:5.88rem;
	display: flex;
	flex-direction:column;
	height: 100%;
	width:95%;
	padding:0 2.5%;
	
}

.participant-list-title {
	font-family: discovery-bold;
	font-size: 120%;
	width:100%;
	color:var(--discovery-blue);
	border-bottom: 1px solid var(--discovery-blue);
	padding: 0 0 .313rem 0;
}

.participant-list-content-data {
	height:auto;
	padding:0 0 1.250rem 0;
}

.participant-list-header-wrapper {
	display:flex;
	flex-direction: row;
	width:auto;
	height:auto;
	font-family:discovery-regular;
	font-size:1.000rem;
   white-space: pre-wrap;
}

.participant-list-column-header-flagged {
	height:auto;
	width:1.125rem;
	min-width:1.125rem;
	font-family: discovery-bold;
	font-size: 1.000rem;
	padding:.625rem 0 .313rem 0;
	white-space:nowrap;
}

.participant-list-column-header-name-id {
	height:auto;
	width:17.875rem;
	min-width:17.875rem;
	font-family: discovery-bold;
	font-size: 1.000rem;
	padding: .625rem 0 .313rem .313rem;
	white-space:nowrap;
}

.participant-list-column-header-gender {
	height:auto;
	width:5.000rem;
	min-width:5.000rem;
	font-family: discovery-bold;
	font-size: 1.000rem;
	text-align: center;
	padding: .625rem 0 .313rem .313rem;
	white-space:nowrap;
}

.participant-list-column-header-dob {
	height:auto;
	width:7.250rem;
	min-width:7.250rem;
	font-family: discovery-bold;
	font-size: 1.000rem;
	text-align: center;
	padding: .625rem 0 .313rem .313rem;
	white-space:nowrap;
}

.participant-list-column-header-dates {
	height:auto;
	width:7.250rem;
	min-width:7.250rem;
	font-family: discovery-bold;
	font-size: 1.000rem;
	text-align: center;
	padding: .625rem 0 .313rem .625rem;
	white-space:nowrap;
}

.participant-list-column-header-providers {
	height:auto;
	width:6.125rem;
	min-width:6.125rem;
	font-family: discovery-bold;
	font-size: 1.000rem;
	text-align: center;
	padding: .625rem 0 .313rem .625rem;
	white-space:nowrap;
}

.participant-list-column-header-values {
	height:auto;
	width:7.250rem;
	min-width:7.250rem;
	font-family: discovery-bold;
	font-size: 1.000rem;
	text-align: center;
	padding: .625rem .625rem .313rem .625rem;
	white-space:nowrap;
}

.participant-list-data-wrapper {
	display:grid;
	grid-template-columns:repeat(7, minmax(min-content, max-content));
	grid-column-gap: .313rem;
	height: calc(100vh - 12.500rem);
	font-family:discovery-regular;
	font-size:1.000rem;
   overflow-y: scroll;
	white-space: pre-wrap;
	margin:.313rem 0 1.250rem 0;
}

/* width */
::-webkit-scrollbar {
    width: .625rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .313rem var(--discovery-data-label); 
    border-radius: .625rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--discovery-blue); 
    border-radius: .625rem;
}

