@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Social History Stylesheet */
/* v.01.14 Updated 12/26/2018 */

.social-history-display {
	@insert .content-panel-display;
}

.social-history-value {
	@insert .value;
	width:132px;
	text-align:right;
	padding:0 0 0 15px;
	grid-column: 1;
}
.social-history-status-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 0;
	grid-column:1;
}

.social-history-status-value {
	@insert .value;
	grid-column:2;
}
.social-history-provider-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 0;
	grid-column:1;
}

.social-history-provider-value {
	@insert .value;
	grid-column:2;
}