@charset "UTF-8";

/* Sync for Science Discovery Social History Stylesheet */
/* v.01.06 Updated 10/09/2018 */

.social-history-display {
	height: auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 1/span 40;
}

.social-history-value {
	height: auto;
	width:132px;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align:right;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0 0 0 15px;
	grid-column: 1;
}
.social-history-status-label {
	height: auto;
	width:auto;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:1;
}

.social-history-status-value {
	height: auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}