@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Encounter Stylesheet */
/* v.01.01 Updated 03/07/2019 */

.encounters-display {
   @insert .content-panel-display;
}

.encounters-ending-label {
   @insert .label;
   width:auto;
   text-align: center;
   padding:4px 0 0 0; 
   grid-column:1;
}

.encounters-ending-value {
   @insert .value;
   font-family: discovery-data;
   width:auto;
   padding:0;
   grid-column:2/span 6;
}

.encounters-class-label {
   @insert .label;
   width:auto;
   padding:6px 0 0 0;
   grid-column:1;
}

.encounters-class-value {
   @insert .value;
   grid-column:2;
}

.encounters-status-label {
   @insert .label;
   width:auto;
   padding:6px 0 0 0;
   grid-column:3;
}

.encounters-status-value {
   @insert .value;
   grid-column:4;
}

.encounters-provider-label {
   @insert .label;
   width:auto;
   padding:6px 0 0 0;
   grid-column:1;
}

.encounters-provider-value {
   @insert .value;
   grid-column:2;
}