@charset "UTF-8";
@import '../../css/Fonts.css';
@import '../../css/Colors.css';
@import '../../css/ViewContainer.css';

/* Sync for Science Discovery CompareView Stylesheet */
/* v.01.08 Updated 03/26/2019 */

.compare-view {
	@insert .view-container;
}

.compare-title {
	@insert .view-title;
	background-image: url("../../svg/view-icon-comparison-on.svg");
}

.compare-title-name {
   @insert .view-title-name;
}

.compare-title-patient-name {
	@insert .view-title-patient-name;
}

.compare-contents {
	@insert .view-contents;
	height:calc(100% - 343px);
	margin: 0 0 0 0;
   padding-top: 0;
	overflow-y: hidden;
   overflow-x: hidden;
}

.compare-matrix {
   display: grid;
   grid-template-columns: 300px repeat(30, 1fr);
   grid-column-gap: 2px;
   grid-auto-flow: column;
   height: auto;
   background-color: var(--white-100); 
   padding: 0 20px 0 20px;
   margin:0;
   overflow-y: scroll;
}

.compare-cat-name {
   grid-column: 1/span 40;
   height: 20px;
   font-family: header-bold;
   font-size: 1.000rem;
   color: var(--primary-100);
   border-bottom: 1px solid var(--primary-100);
   margin: 10px 0px;
}

.compare-cat-name-disabled {
   grid-column: 1/span 40;height:20px;
   font-family: header-bold;
   font-size:1.000rem;
   color: var(--gray-medium-100);
   border-bottom:1px solid var(--gray-medium-100);
   margin: 10px 0px;
}

.compare-code-display {
   grid-column: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 270px;
   max-width: 270px;
   font-family: header-bold;
   font-size: 0.800rem;
   text-align: left;
   color: var(--gray-dark-100);
   padding: 5px 10px 5px 20px;
   border-bottom: solid 1px var(--gray-light-020);
   margin: 0;
   white-space: wrap;
   word-wrap: break-word;
   overflow: hidden; 
}

.compare-prov-count-even {
   grid-column: auto;
   position: relative;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   align-self: flex-end;
   vertical-align: middle;
   height: auto;
   width: 38px;
   min-width: 35px;
   max-width: 35px;
   font-family: data-text;
   font-size: 0.80rem;
   text-align: left;
   line-height:inherit;
   color: var(--data);
   padding:0;
   border-bottom: solid 1px var(--gray-light-020);
   margin: 0px;
   white-space: nowrap;
}

.compare-prov-count-odd {
   grid-column: auto;
   position: relative;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   align-self: flex-end;
   vertical-align: middle;
   height: auto;
   width: 38px;
   min-width: 35px;
   max-width: 35px;
   font-family: data-text;
   font-size:0.80rem;
   text-align: left;
   color: var(--data);
   line-height:inherit;
   padding:0;
   border-bottom:solid 1px var(--gray-light-020);
   margin:0px;
   background-color:var(--white-100);
   white-space: nowrap;
}

.compare-prov-count-contents-even {
   position: relative;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   text-align: center;
   background-color: var(--data);
   border-bottom: 1px solid var(--data);
   margin: auto;
}

.compare-prov-count-contents-odd {
   position: relative;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   text-align: center;
   background-color: var(--data);
   border-bottom: 1px solid var(--data);
   margin: auto;
}

.compare-providers {
   position: relative;
   left: 0;
   bottom: 0;
   display: flex;
   flex-direction: row;
   height: 180px;
   min-height: 180px;
   padding: 0 0 0 280px;
   margin: -10px 0 0 0;
}

.compare-prov-name {
   height:170px;
   width:37px;
   min-width: 37px;
   max-width: 37px;
   font-family: text-bold;
   font-size: 0.90rem;
   color: var(--data);
   text-align: left;
   padding: 0;
   margin: 0;
   white-space: nowrap;
   transform: rotate(45deg);
   overflow: visible;
}
