@charset "UTF-8";
@import '../../css/ViewContainer.css';

/* Sync for Science Discovery CompareView Stylesheet */
/* v.01.17 Updated 09/10/2019 */

.compare-view {
   @insert .view-container;
   top: 166px;
  /* height: calc(100% - 176px); */
   background-color: var(--background-content);
   margin: 0;
/*   overflow-x: hidden;
   overflow-y: auto; */
   display:flex;
   flex-direction: column; 
}

.compare-view-scroller {
   position: relative;
   top: 0;
   height: auto;
/*   display: flex;
   flex-direction: column; */
   margin: 0 0 20px 0;
   overflow-y: auto;
}

.compare-view-all-unique-items {


}

.compare-view-category-container {
   position: relative;
   top: 0;
   display: flex;
   flex-direction: column;
   margin: 0 0 20px 0;
}

.compare-view-title-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   max-height: 30px;
   padding: 0;
   border-top: solid var(--gt4-trans) 1px;
   margin: 10px 20px 10px 0;
}

.compare-view-title {
   @insert .view-title;
   width: 8.375rem;
   height: 30px;
   min-height: 30px;
   font-family: header-bold;
   font-size: 0.813rem;
   color: var(--label-black);
   padding: 0 0 0 20px;
   background-color: var(--gt4-trans);
}

.compare-view-unique-item-container {
   position: relative;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: row;
   width: 100%;
   /* height: calc(100% - 38px); */
   margin: 0;
   background-color: var(--white-100);
   padding: 0;
   overflow-x: hidden;
   overflow-y: hidden;
   
}

.compare-view-record-button {
   width: 133px;
   max-width: 133px;
   height: auto;
   min-height: 50px;
   font-family: data-text;
   font-size: 0.750rem;
   line-height: normal;
   text-align: left;
   padding: 10px;
   border: 0;
   border-radius: 5px;
   background-color: var(--gt1);
   margin: 0 0 10px 20px;
}

.compare-view-record-button-selected {
   width: 133px;
   max-width: 133px;
   height: auto;
   min-height: 50px;
   font-family: data-text-bold;
   font-size: 0.750rem;
   line-height: normal;
   text-align: left;
   padding: 10px;
   border: 0;
   border-radius: 5px;
   color: var(--label-tile-selected);
   background-color: var(--tile-selected);
   margin: 0 0 10px 20px;
}

.compare-view-record-button-selected-last {
   width: 133px;
   max-width: 133px;
   height: auto;
   min-height: 50px;
   font-family: data-text-bold;
   font-size: 0.750rem;
   line-height: normal;
   text-align: left;
   padding: 10px;
   border: 0;
   border-radius: 5px;
   color: var(--label-black);
   background-color: var(--tile-selected-last);
   margin: 0 0 10px 20px;
}

.compare-view-data-column {
   display:flex;
   flex-direction: column;
   width: auto;
}

.compare-view-data-row {
   display: flex;
   flex-direction: row;
}

.compare-view-sparkline {
   display: flex;
   align-items: left;
   width: 300px;
   margin: 0 0 0 -20px;
}

.compare-view-sparkline-selected {
   display: flex;
   align-items: left;
   width: 300px;
   margin: 0 0 0 -20px;
}

.compare-view-sparkline-last {
   display: flex;
   align-items: left;
   width: 300px;
   margin: 0 0 0 -20px;
}

.compare-view-date-range {
   min-width: 85px;
   font-family: data-number;
   font-size: 0.750rem;
   text-align: right;
   margin: 0 20px 0 0;
}

.compare-view-provider {
   font-family: data-text;
   font-size: 0.750rem;
   text-align: left;
   margin: 0 0 0 15px;
}
