@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Unimplemented Stylesheet */
/* v.01.04 Updated 03/04/2019 */

.unimplemented {
   padding:0 0 5px 0;
   margin:0 0 10px 0;
   border-bottom:1px solid var(--white);
}

.unimplemented-label {
   @insert .value;
   text-align: left;
   padding:4px 0 0 20px;
   margin:0 0 0 20px;
   grid-column:1;
}