@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery LabResults Stylesheet */
/* v.01.19 Updated 03/08/2019 */

.lab-results-display {
   @insert .content-panel-display;
	min-width: 50%;
	grid-column: 1/span 20;
}

.lab-results-name {
   @insert .value;
   grid-column: 1/span 40;
}
.lab-results-value {
   @insert .value;
   width:132px;
	font-family: discovery-data;
   text-align: left;
   margin:0 0 0 0px;
   grid-column: 2;
}

.lab-results-value-highlight {
   @insert .value;
   width:132px;
   text-align:left;
	color:var(--data);
   margin:0 0 0 0px;
   grid-column: 2;
	background-color:var(--gray-light);
}

.lab-results-unit {
   @insert .label;
	width:55px;
	min-width: 55px;
   text-align: left;
   padding:6px 0 0 0;
   grid-column: 2;
}

.lab-results-value-label {
   @insert .label;
   width:auto;
   padding:6px 0 0 20px;
   grid-column: 1;
}

.lab-results-value-string {
   @insert .value;
   grid-column: 2;
}

.lab-results-ref-label1 {
   @insert .label;
   padding:6px 0 0 10px;
   grid-column: 3;
}

.lab-results-ref-value1 {
   @insert .value;
	width: 36px;
	max-width: 36px;
   font-family: discovery-data;
   text-align: right;
   grid-column: 4;
}

.lab-results-ref-label2 {
   @insert .label;
/*   width:6px;
   max-width:6px; */
   text-align:center;
   justify-content: center;
   padding:6px 0 0 0;
   grid-column:5;
}

.lab-results-ref-value2 {
   @insert .value;
	width:38px;
	min-width:38px;
	text-align:left;
   font-family: discovery-data;
   grid-column: 6;
}

.lab-results-ref-unit2 {
   @insert .label;
   width:52px;
   text-align: left;
   padding:6px 0 0 0;
   grid-column: 7;
}

.lab-results-status-label {
   @insert .label;
   padding:6px 0 0 15px;
   grid-column: 1;
}

.lab-results-status-value {
   @insert .value;
   grid-column: 2;
}

.lab-results-time-series {
   min-width: 50%;
	align-content: flex-end; 
	padding:0 0 0 200px;
	grid-column:39/40;
	grid-row:1/6;
}

.lab-results-provider-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 0;
	grid-column:1;
}

.lab-results-provider-value {
	@insert .value;
	grid-column:2;
}
