@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery LabResults Stylesheet */
/* v.01.15 Updated 11/14/2018 */

.lab-results-display {
	@insert .content-panel-display;
}

.lab-results-name {
	@insert .value;
	grid-column: 1/span 40;
}
.lab-results-value {
	@insert .value;
	width:132px;
	text-align: right;
	margin:0 0 0 5px;
	grid-column: 1;
}

.lab-results-unit {
	@insert .label;
	text-align: left;
	padding:6px 0 0 0;
	grid-column: 2;
}

.lab-results-value-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 10px;
	grid-column: 1;
}

.lab-results-value-string {
	@insert .value;
	grid-column: 2;
}

.lab-results-ref-label1 {
	@insert .label;
	padding:6px 0 0 10px;
	grid-column: 3;
}

.lab-results-ref-value1 {
	@insert .value;
	font-family: discovery-data;
	text-align: right;
	grid-column: 4;
}

.lab-results-ref-label2 {
	@insert .label;
	width:0.625rem;
	text-align:center;
	padding:6px 0 0 0;
	grid-column:5;
}

.lab-results-ref-value2 {
	@insert .value;
	font-family: discovery-data;
	grid-column: 6;
}

.lab-results-ref-unit2 {
	@insert .label;
	width:52px;
	text-align: left;
	padding:6px 0 0 0;
	grid-column: 7;
}

.lab-results-status-label {
	@insert .label;
	padding:6px 0 0 15px;
	grid-column: 1;
}

.lab-results-status-value {
	@insert .value;
	grid-column: 2;
}
