@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';

/* Sync for Science Discovery ReportView Stylesheet */
/* v.01.05 Updated 01/14/2019 */

.report-view {
   position: fixed;
   top:146px;
   left:214px;
   width:calc(100% - 234px);
   min-width:840px;
   height:calc(100% - 75px - 12px);
   margin:0;
}

.report-title {
   display: flex;
   flex-direction: row;
   width:calc(100% - 40px);
   height:50px;
   min-height:50px;
   padding:0 20px 0 70px;
   border-top:2px solid var(--accent);
   background-color: var(--blue-dark);
   background-image: url("../../svg/view-icon-report-on.svg");
   background-repeat: no-repeat;
   background-position:20px 8px;
   background-size:35px 35px;
   font-family: discovery-data;
   font-size: 1.000rem;
   color:var(--white);
   align-items: center;
   justify-content:flex-start;
}

.report-title-name {
   font-family:discovery-bold;
   font-size:1.000rem;
   color:var(--white);
   margin:0;
}

.report-title-patient-name {
   font-family:discovery-data-bold;
   font-size:1.200rem;
   color:var(--white);
   white-space: nowrap;
   margin-left:35px;
}

.report-contents {
   position: fixed;
   top: 196px;
   left: 214px;
   min-height: calc(100% - 196px - 20px - 15px);
   max-height: calc(100% - 196px - 20px - 15px);
   min-width: calc(100% - 210px - 28px);
   max-width: calc(100% - 210px - 28px);
   background-color: var(--discovery-background);
   padding:20px 0 0 0;
   white-space: pre-wrap;
   display:flex;
   flex-direction: column;

   overflow-y:auto;
   overflow-x: hidden;
   border:2px solid var(--discovery-blue);
}
