@charset "UTF-8";

/* Sync for Science Discovery Category Stylesheet */
/* v.01.13 Updated 08/20/2018 */

.category {
	display:flex;
	flex-direction: row;
	height:2.250rem;
	width:100%;
	margin: 0;
}

.category-nav {
	display:flex;
	justify-content: center;
	height: auto;
	width:15.375rem;
	min-width:15.375rem;
	margin:0;
	border-right:0.125rem solid var(--discovery-category);
	border-left:0.125rem solid var(--discovery-category);
	padding: 0;
	text-align:center;
	cursor: default;
}

.category-button-enabled {
	display:flex;
	justify-content: center;
	height: auto;
	min-width:80%;
	max-width: 98%;
	margin:0.313rem auto;
	border:0.125rem solid var(--discovery-category);
	border-radius:1.563rem;
	padding:0.125rem 0;
	background-color: var(--discovery-category);
	font-family:discovery-bold;
 	font-size: inherit;
	color:var(--discovery-category-label-light);
	white-space: nowrap;
	cursor: pointer;
}

.category-button-disabled {
	display:flex;
	justify-content: center;
	height:auto;
	min-width:80%;
	max-width: 98%;
	margin:0.313rem auto;
	border:0.125rem solid var(--discovery-category);
	border-radius:1.563rem;
	padding:0.125rem 0;
	background-color: var(--discovery-background);
	font-family:discovery-regular;
	font-size: inherit;
	color: var(--discovery-category);
	white-space:nowrap;
	cursor: pointer;
}

.category-svg-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	width: 100%;
	margin: 0;
	padding:0 0.313rem;
	background-image: url(../../svg/horizontal-rule-1px-black.svg);
	background-position: center;
	background-repeat: repeat-x;
	background-clip:padding-box;
	overflow:hidden;
}	

.category-svg {
	height:inherit;
	overflow: visible;
}