@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/CategoryProvider.css';

/* Sync for Science Discovery Category Stylesheet */
/* v.01.25 Updated 11/14/2018 */

.category {
	@insert .category-provider-row;
}

.category-nav {
	@insert .category-provider-nav;
}
 
.category-button-enabled {
	@insert .category-provider-button;
	background-color: var(--category);
	border:1px solid var(--category);
	font-family:discovery-bold;
	color:var(--white);
}

.category-button-disabled {
	@insert .category-provider-button;
	background-color: var(--white);
	border:1px solid var(--category);
	font-family:discovery-regular;
	color: var(--category);
}

.category-svg-container {
	@insert .category-provider-svg-container;
}	

.category-svg {
	@insert .category-provider-svg;
}