@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/CategoryProvider.css';

/* Sync for Science Discovery Category Stylesheet */
/* v.01.26 Updated 02/01/2019 */

.category {
	@insert .category-provider-row;
}

.category-nav {
	@insert .category-provider-nav;
}
 
.category-button-enabled {
	@insert .category-provider-button;
/*	background-color: var(--category);
	border:1px solid var(--category); */
	font-family:discovery-bold;
/*	color:var(--white); */
	background-color: var(--white);
/*	border:1px solid var(--discovery-blue); */
	color:var(--discovery-blue);
	padding:0 0 0 25px;
	background-image: url("../../svg/checkmark-on.svg");
	background-repeat: no-repeat;
	outline:none;
	border:0;
}

.category-button-disabled {
	@insert .category-provider-button;
	background-color: var(--white);
/*	border:1px solid var(--category); */
	font-family:discovery-regular;
/*	color: var(--category);
	border:1px solid var(--discovery-blue); */
	color: var(--discovery-blue);
	padding:0 0 0 25px;
	background-image: url("../../svg/checkmark-off.svg");
	background-repeat: no-repeat;
	outline:none;
	border:0;
}

.category-svg-container {
	@insert .category-provider-svg-container;
}	

.category-svg {
	@insert .category-provider-svg;
}