@charset "UTF-8";

/* Sync for Science ContentPanelCategories Stylesheet */
/* v.01.10  Updated 08/05/2019 */

/* Flexbox Styles */
.flexbox-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flexbox-column {
	display:flex;
	flex-direction: column;
}

/* Grid Styles */
.grid {
	display:grid;
	grid-column-gap: 20px;
}

/* Grid Columns */
.col01 {
	grid-column: 1;
   width: auto;
   height: 20px;
   padding: 0;
   white-space: normal;
}

.col02 {
	grid-column: 2;
   width: 18.750rem;
   min-width: 14.000rem;
   height: 20px;
   max-height: auto;
   padding: 0;
}

/* Content Panel Styles */
.content-panel-display {
	@insert .col01 .value-text;
   width: auto;
   height: auto;
	font-size: 1.100rem;
	text-align: left;
	color: var(--data);
	padding: 0 0 5px 0px;
   white-space: nowrap;
}

/* Label Styles */
.label-master {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: auto;
	font-size: 0.625rem;
	text-align: left;
   text-transform: uppercase;
   height: auto;
	color: var(--label-data);
   line-height: 1.250rem;
	margin: 0;
   white-space: normal;
}

.label {
	@insert .label-master;
	font-family: label;
}

.label-bold {
	@insert .label-master;
	font-family: label-bold;
}

/* Value Styles */
.value-master {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: auto;
   height: 1.250rem;
	font-size: 1.100rem;
	line-height: 1.250rem;
	color: var(--data);
	text-align: left;
	padding: 0;
	margin: 0 0 0 0;
}

.value-number {
	@insert .value-master;
   height: auto;
	font-family: data-number;
   font-size: 0.813rem;
   color: var(--black-100);
   padding: 0 0 0 15px;
   white-space: nowrap;
}

.value-text {
	@insert .value-master;
	height: auto;
   font-family: data-text-semibold;
   font-size: 0.813rem;
   color: var(--black-100);
   padding: 0 0 0 15px;
   white-space: normal;
}


/* .medium {
   font-family: data-text-bold;
   padding: 0 0 5px 0;
} */

.primary {
   display: flex;
   
   font-family: data-text-bold;
   padding: 0 15px 0 15px;
}

.primary-accent {
   font-family: data-text-bold;
   padding: 0 15px 0 0;
   color: white;
   background-color: mediumaquamarine;
}

/* Text Alignment */
.left {
   text-align: left;
}

.center {
   text-align: center;
   padding:0;
}

.right {
   text-align: right;
}

.highlight {
   background-image: url("../../svg/icon-out-of-gamut.svg");
   background-repeat: no-repeat;
   background-size: 20px 20px;
   padding: 2px 0 0 30px;
}

