@charset "UTF-8";

/* Sync for Science Discovery Content Panel Stylesheet */
/* v.01.07 Updated 09/11/2018 */

.content-panel {
	position: absolute;
	left:16.875rem;
	display: flex;
   flex-direction: row;
	width: 85%;
	max-width: 85%;
	height:calc(100vh - 15.625rem);
}

.content-panel-left {
   display:flex; 
	flex-direction:column;
   align-content:center;
	width:3.500rem;
   height:100%;
   background-color:transparent;
	padding:0;
	margin:0;
}

.content-panel-left-button {
   height:2.500rem;
   width:2.500rem;
   background-color: transparent;
   background-image: url(../../svg/arrow-datapanel-left-on.svg);
   background-repeat: no-repeat;
	background-position: center center;
	padding:0;
	margin:2.500rem 0.313rem -0.188rem 0.625rem;
   border: 0;
}

.content-panel-left-button-off {
   height:2.500rem;
   width:2.500rem;
   background-color: transparent;
   background-image: url(../../svg/arrow-datapanel-left-off.svg);
   background-repeat: no-repeat;
	background-position: center center;
	padding:0;
	margin:2.500rem 0.313rem -0.188rem 0.625rem;
   border: 0;
}

.content-panel-right-button {
   height:2.500rem;
   width:2.500rem;
   background-color: transparent;
   background-image: url(../../svg/arrow-datapanel-right-on.svg);
   background-repeat: no-repeat;
   background-position: center center;
	padding:0;
	margin:0 0.313rem 0 0.625rem;
   border:0;
}

.content-panel-right-button-off {
   height:2.500rem;
   width:2.500rem;
   background-color: transparent;
   background-image: url(../../svg/arrow-datapanel-right-off.svg);
   background-repeat: no-repeat;
   background-position: center center;
	padding:0;
	margin:0 0.313rem 0 0.625rem;
   border:0;
}

.content-panel-inner {
   display:flex;
   flex-direction: column;
	height: 100%;
   width:100%;
   border:0.125rem solid var(--discovery-blue);
   background-color: var(--discovery-background);
	font-family:discovery-regular;
	font-size:1.000rem;
}

.content-panel-inner-title {
   display: flex;
   flex-direction: row;
	width: auto;
   height:2.500rem;
	min-height:2.500rem;
	padding:0 0 0 2.500rem;
   background-color: var(--discovery-blue);
	background-image: url(../../svg/icon-data-panel-title-bar.svg);
	background-repeat: no-repeat;
	background-position:0.625rem 0.500rem;
	background-size:1.500rem 1.500rem;
   font-family: discovery-data;
   font-size: 1.000rem;
   color:var(--discovery-background);
   align-items: center;
   justify-content: space-between;
}

.content-panel-inner-title-payload-button {
   border:0;
   font-family:discovery-data-bold;
   font-size:1.200rem;
/*   font-size:inherit; */
   background-color:var(--discovery-blue);
   color:var(--discovery-background);
}

.content-panel-inner-title-close-button {
   display:flex;
	height:2.500rem;
   width:2.500rem;
   border:0; 
   background-image:url(../../svg/close_icon.svg);
   background-repeat:no-repeat;
   background-color:transparent;
	background-position:center center;
	background-size:1.250rem 1.250rem;
   fill: white;
   margin:0 0.625rem 0 0;
   cursor: pointer;
}

.content-panel-inner-body {
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	font-family:discovery-regular;
	font-size:1.000rem;
   overflow: auto;
	white-space: pre-wrap;
	padding:0;
}

/* New consolidated styles start */

.content-body {
	margin:0 1.250rem;
}

.content-header {
	margin:0.625rem 1.250rem;
	border-bottom: 0.063rem solid var(--discovery-blue);
	font-family: discovery-bold;
	font-size:1.000rem;
	color: var(--discovery-blue);
}

.content-header-disabled {
	margin:0.625rem 1.250rem;
	border-bottom: 0.063rem solid var(--discovery-data-divider);
	font-family: discovery-bold;
	font-size:1.000rem;
	color: var(--discovery-data-divider);
}

.content-container {
	display:grid;
	grid-template-columns:repeat(40, minmax(min-content, 1fr));
	grid-column-gap: 0.313rem;
	border-bottom:0.063rem solid var(--discovery-data-divider);
	padding:0 0 0.313rem 0;
	margin:0 0 0.625rem 0;
}

.content-container-last {
	display:grid;
	grid-template-columns:repeat(40, minmax(min-content, 1fr));
	grid-column-gap: 0.313rem;
	border-bottom:0.063rem solid var(--discovery-background);
	padding:0 0 0.313rem 0;
	margin:0 0 0.625rem 0;
}

/* New consolidated styles end */

.content-panel-inner-footer {
   display:flex;
   flex-direction:row;
	width: 100%;
   height:2.500rem;
	min-height:2.500rem;
   background-color: var(--discovery-blue);
   font-family: discovery-bold;
   font-size:1.000rem;
   color:var(--discovery-background);
}

.content-panel-inner-title-search {
   display:flex;
   flex-direction:row;
	width:auto;
   height:2.500rem;
	min-height:2.500rem;
	padding:0 0 0 3.750rem;
   background-color:var(--discovery-blue);
   font-family:discovery-bold;
   font-size:1.000rem;
   color:var(--discovery-background);
   align-items:center;
   justify-content:space-between;
	background-image:url(../../svg/icon-search-on.svg);
	background-repeat:no-repeat;
	background-position:0.625rem 0;
	background-size:2.500rem 2.500rem;
}

.content-panel-search-row{
	display:flex;
	flex-direction:row;
	margin:1.250rem;
}

.content-panel-search-button{
	display:flex;
	width:12.500rem;
	height:1.313rem;
	padding:0.313rem 0;
	margin:0 1.250rem 0 0;
	background-color:var(--discovery-blue);
	font-family:discovery-bold;
	font-size:1.000rem;
	color:var(--discovery-background);
	justify-content:center;
	text-align:center;
	border-radius:1.250rem;
	background-image:url(../../svg/arrow-down-icon.svg);
	background-repeat:no-repeat;
	background-position:1.125rem 0.375rem;
	background-size:1.250rem 1.250rem;
}

.content-panel-search-field{
	display:flex;
	text-align: left;
	width:26.250rem;
	height:1.313rem;
	padding:0.313rem 0;
	margin:0 0.625rem 0 0;
	background-color:var(--discovery-background);
	font-family:discovery-regular;
	font-size:1.000rem;
	color:var(--discovery-gray);
	justify-content:center;
	border:0.125rem solid var(--discovery-blue); 
	border-radius:0.625rem;
}

.content-panel-search-field-button{
	display:flex;
	width:6.250rem;
	height:1.313rem;
	padding:0.313rem 0px;
	margin:0 1.250rem 0 0;
	background-color:var(--discovery-blue);
	font-family:discovery-bold;
	font-size:1.000rem;
	color:var(--discovery-background);
	justify-content:center;
	text-align:center;
	border-radius:1.250rem;
}

.content-panel-search-text-block{
	display:flex;
	flex-direction: column;
	margin:1.250rem;
}

.content-panel-search-text-bold{
	font-family: discovery-bold;
	font-size:1.000rem;
}

.content-panel-search-header-italic{
	font-family:discovery-bold;
	font-size:1.000rem;
	font-style:italic;
}

.content-panel-inner-title-quick-looks {
   display:flex;
   flex-direction:row;
	width:auto;
   height:2.500rem;
	min-height:2.500rem;
	padding:0 0 0 3.750rem;
   background-color:var(--discovery-blue);
   font-family:discovery-bold;
   font-size:100%;
   color:var(--discovery-background);
   align-items:center;
   justify-content:space-between;
	background-image:url(../../svg/icon-quick-look-on.svg);
	background-repeat:no-repeat;
	background-position:0.625rem 0;
	background-size:2.500rem 2.500rem;
}

.content-panel-quick-looks-button{
	display:flex;
	width:12.500rem;
	height:1.313rem;
	padding:0.313rem 0;
	margin:0 1.250rem 0 0;
	background-color:var(--discovery-blue);
	font-family:discovery-bold;
	font-size:1.000rem;
	color:var(--discovery-background);
	justify-content:center;
	text-align:center;
	border-radius:1.250rem;
	background-image:url(../../svg/arrow-down-icon.svg);
	background-repeat:no-repeat;
	background-position:1.125rem 0.375rem;
	background-size:1.250rem 1.250rem;
}

.content-panel-quick-looks-text-block{
	display:flex;
	flex-direction:column;
	margin:1.250rem;
}

.content-panel-quick-looks-text-bold{
	font-family: discovery-bold;
	font-size:1.000rem;
}

/* width */
::-webkit-scrollbar {
   width:.625rem;
	margin:0 .938rem 0 0 ;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow:inset 0 0 .313rem var(--discovery-data-label); 
    border-radius:.625rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:var(--discovery-gray); 
    border-radius:.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:var(--discovery-blue); 
}
