@charset "UTF-8";

/* Sync for Science ContentPanelCategories Stylesheet */
/* v.01.03  Updated 03/27/2019 */

@import '../../css/Fonts.css';
@import '../../css/Colors.css';

/* Flexbox Styles */

.flexbox-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flexbox-column {
	display:flex;
	flex-direction: column;
}

/* Grid Styles */
.grid {
	display:grid;
	grid-column-gap: 10px;
}

/* Grid Columns */
.col01 {
	grid-column: 1;
   width: 6.75rem;
   min-width: 6.75rem;
   max-width: 6.75rem;
   padding: 0 0 0 32px;
   white-space: normal;
}

.col02 {
	grid-column: 2;
   min-width: 275px;
}

/* Content Panel Styles */
.content-panel-display {
	@insert .col01 .value-text;
   width: auto;
   height: auto;
	font-size: 1.100rem;
	text-align: left;
	color: var(--data);
	padding: 0 0 5px 0px;
   white-space: nowrap;
}

/* Label Styles */
.label-master {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: auto;
	font-size: 0.800rem;
	text-align: left;
	color: var(--data);
   padding-top: 0.300rem;
	margin: 0;
   white-space: normal;
}

.label {
	@insert .label-master;
	font-family: label;
}

.label-bold {
	@insert .label-master;
	font-family: label-bold;
}

/* Value Styles */
.value-master {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: auto;
	font-size: 1.100rem;
	line-height: 1.100rem;
	color: var(--data);
	text-align: left;
	padding: 0;
	margin: 0.200rem 0 0 0;
}

.value-number {
	@insert .value-master;
   height: 1.100rem;
	font-family: data-number;
   white-space: nowrap;
}

.value-text {
	@insert .value-master;
	height: auto;
   font-family: data-text;
   white-space: normal;
}

.medium {
   font-family: data-text-medium;
}

/* Text Alignment */
.left {
   text-align: left;
}

.center {
   text-align: center;
   padding:0;
}

.right {
   text-align: right;
}

.highlight {
   background-image: url("../../svg/icon-out-of-gamut.svg");
   background-repeat: no-repeat;
   background-size: 20px 20px;
   padding: 2px 0 0 30px;
}

