@charset "UTF-8";

/* Sync for Science ContentPanelCategories Stylesheet */
/* v.01.02  Updated 03/19/2019 */

@import '../../css/Fonts.css';
@import '../../css/Colors.css';

/* Flexbox Styles */

.flexbox-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flexbox-column {
	display:flex;
	flex-direction: column;
}

/* Grid Styles */
.grid {
	display:grid;
	grid-column-gap: 10px;
}

/* Grid Columns */
.col01 {
	grid-column: 1;
   width: 80px;
   min-width: 80px;
   max-width: 80px;
   padding: 0 0 0 32px;
   white-space: normal;
}

.col02 {
	grid-column: 2;
   min-width: 275px;
}

/* Content Panel Styles */
.content-panel-display {
	@insert .col01 .value-text;
   width: auto;
   height: auto;
	font-size: 1.100rem;
	text-align: left;
	color: var(--data);
	padding: 0 0 5px 0px;
   white-space: nowrap;
}

/* Label Styles */
.label-master {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: auto;
   
/*   height: 1.100rem; */
	font-size: 0.800rem;
	text-align: left;
/*	line-height: 1.100rem; */
	color: var(--data);
	white-space: normal;
/*	padding: 0.300rem 0 0 0; */
   padding-top: 0.300rem;
	margin: 0;
}

.label {
	@insert .label-master;
	font-family: label;
}

.label-bold {
	@insert .label-master;
	font-family: label-bold;
}

/* Value Styles */
.value-master {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: auto;
   
	font-size: 1.100rem;
	line-height: 1.100rem;
	color: var(--data);
	text-align: left;
	padding: 0;
	margin: 0.200rem 0 0 0;
}

.value-number {
	@insert .value-master;
	font-family: data-number;
   white-space: nowrap;
   height: 1.100rem;
}

.value-text {
	@insert .value-master;
	font-family: data-text;
   white-space: normal;
   height: auto;
}

.medium {
   font-family: data-text-medium;
}

/* Text Alignment */
.left {
   text-align: left;
}

.center {
   text-align: center;
   padding:0;
}

.right {
   text-align: right;
}

.highlight {
 /*  background-color: var(--accent-040); */
   background-image: url("../../svg/icon-out-of-gamut.svg");
   background-repeat: no-repeat;
   background-size: 20px 20px;
   padding: 2px 0 0 30px;
}

/* Content Styles - to be removed 031919 */

/* Label Columns 
.col01-label {
	@insert .col01 .label;
}

.col03-label {
	@insert .col03 .label;
}

/* Value Columns 
.col02-value {
	@insert .col02 .value-number;
}

.col02-value-text {
	@insert .col02 .value-text;
}

.col02-value-span02 {
	@insert .col02 .value-number .span02;
}

.col02-value-text-span02 {
	@insert .col02 .value-text .span02 ;
}

.col02-value-span03 {
	@insert .col02 .value-number .span03 ;
}

.col02-value-span05 {
	@insert .col02 .value-number .span05 ;
}

.col02-value-span07 {
	@insert .col02 .value-number .span07 ;
}

.col02-value-text-span12-wrap {
	@insert .col02 .value-text .span12;
}

.col04-value-text {
	@insert .col04 .value-text;
}

.col05-value-text-span07 {
	@insert .col05 .value-text .span07 ;
}

*/
