/* Content Panel CSS v1.02 07/23/2018 */ 

.content-panel {
	position: absolute;
	left:270px;
	display: flex;
    flex-direction: row;
	width: 85%;
	max-width: 85%;
	height: 80%;
	min-height: 400px;
}

.content-panel-left {
    display:flex; 	
    align-items: center;
	width:50px;
    height: 100%;
    background-color: transparent;
}

.content-panel-left-button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url(../../svg/arrow-datapanel-left-on.svg);
    background-repeat: no-repeat;
    border: 0;
}

.content-panel-left-button-off {
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url(../../svg/arrow-datapanel-left-off.svg);
    background-repeat: no-repeat;
    border: 0;
}

.content-panel-right {
    display:flex; 	
    align-items: center;
	width:50px;
    height: 100%;
    background-color: transparent;
}

.content-panel-right-button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url(../../svg/arrow-datapanel-right-on.svg);
    background-repeat: no-repeat;
    border: 0;
}

.content-panel-right-button-off {
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url(../../svg/arrow-datapanel-right-off.svg);
    background-repeat: no-repeat;
    border: 0;
}

.content-panel-inner {
    display:flex;
    flex-direction: column;
	height: 100%;
    width:100%;
    border: 2px solid var(--discovery-blue);
    background-color: var(--discovery-background);
	font-family:discovery-regular;
	font-size:100%;
}

.content-panel-inner-title {
   display: flex;
   flex-direction: row;
	width: auto;
   height: 40px;
	min-height: 40px;
	padding:0 0 0 40px;
   background-color: var(--discovery-blue);
	background-image: url(../../svg/icon-data-panel-title-bar.svg);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	background-size: 24px 24px;
   font-family: discovery-bold;
   font-size: 100%;
   color:var(--discovery-background);
   align-items: center;
   justify-content: space-between;
}

.content-panel-inner-title-payload-button {
   border: 0;
   font-family: discovery-bold;
	font-size: 100%;
   background-color: var(--discovery-blue);
   color: var(--discovery-background);
}

.content-panel-inner-title-close-button {
   display: flex;
	height: 40px;
   width: 40px;
   border: 0; 
   background-image: url(../../svg/close_icon.svg);
   background-repeat: no-repeat;
   background-color:transparent;
	background-position: center center;
	background-size: 20px 20px;
   fill: white;
   margin:0 10px 0 0;
   cursor: pointer;
}

.content-panel-inner-body {
	display:flex;
	flex-direction: column;
	width: 100%;
	height:100%;
	font-family:discovery-regular;
	font-size:100%;
    overflow: auto;
	white-space: pre-wrap;
}

.content-panel-inner-footer {
    display: flex;
    flex-direction: row;
	width: 100%;
    height: 40px;
	min-height: 40px;
    background-color: var(--discovery-blue);
    font-family: discovery-bold;
    font-size: 100%;
    color:var(--discovery-background);
}

.content-panel-inner-title-search {
    display: flex;
    flex-direction: row;
	width: auto;
    height: 40px;
	min-height: 40px;
	padding:0 0 0 60px;
    background-color: var(--discovery-blue);
    font-family: discovery-bold;
    font-size: 100%;
    color:var(--discovery-background);
    align-items: center;
    justify-content: space-between;
	background-image: url(../../svg/icon-search-on.svg);
	background-repeat: no-repeat;
	background-position: 10px 0;
	background-size:40px 40px;
}

.content-panel-search-row{
	display:flex;
	flex-direction: row;
	margin:20px;
}

.content-panel-search-button{
	display:flex;
	width:200px;
	height:21px;
	padding:5px 0;
	margin:0 20px 0 0;
	background-color: var(--discovery-blue);
	font-family: discovery-bold;
	font-size:100%;
	color:var(--discovery-background);
	justify-content: center;
	text-align: center;
	border-radius: 20px;
	background-image: url(../../svg/arrow-down-icon.svg);
	background-repeat: no-repeat;
	background-position: 18px 6px;
	background-size:20px 20px;
}

.content-panel-search-field{
	display:flex;
	text-align: left;
	width:420px;
	height:21px;
	padding:5px 0;
	margin:0 10px 0 0;
	background-color: var(--discovery-background);
	font-family: discovery-regular;
	font-size:100%;
	color:var(--discovery-gray);
	justify-content: center;
	border:2px solid var(--discovery-blue); 
	border-radius: 10px;
}

.content-panel-search-field-button{
	display:flex;
	width:100px;
	height:21px;
	padding:5px 0px;
	margin:0 20px 0 0;
	background-color: var(--discovery-blue);
	font-family: discovery-bold;
	font-size:100%;
	color:var(--discovery-background);
	justify-content: center;
	text-align: center;
	border-radius: 20px;
}

.content-panel-search-text-block{
	display:flex;
	flex-direction: column;
	margin:20px;
}

.content-panel-search-text-bold{
	font-family: discovery-bold;
	font-size:100%;
}

.content-panel-search-header-italic{
	font-family: discovery-bold;
	font-size:100%;
	font-style: italic;
}

.content-panel-inner-title-quick-looks {
    display: flex;
    flex-direction: row;
	width: auto;
    height: 40px;
	min-height: 40px;
	padding:0 0 0 60px;
    background-color: var(--discovery-blue);
    font-family: discovery-bold;
    font-size: 100%;
    color:var(--discovery-background);
    align-items: center;
    justify-content: space-between;
	background-image: url(../../svg/icon-quick-look-on.svg);
	background-repeat: no-repeat;
	background-position: 10px 0;
	background-size:40px 40px;
}

.content-panel-quick-looks-button{
	display:flex;
	width:200px;
	height:21px;
	padding:5px 0;
	margin:0 20px 0 0;
	background-color: var(--discovery-blue);
	font-family: discovery-bold;
	font-size:100%;
	color:var(--discovery-background);
	justify-content: center;
	text-align: center;
	border-radius: 20px;
	background-image: url(../../svg/arrow-down-icon.svg);
	background-repeat: no-repeat;
	background-position: 18px 6px;
	background-size:20px 20px;
}

.content-panel-quick-looks-text-block{
	display:flex;
	flex-direction: column;
	margin:20px;
}

.content-panel-quick-looks-text-bold{
	font-family: discovery-bold;
	font-size:100%;
}
