@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';

/* Sync for Science Discovery PageHeader Stylesheet */
/* v.01.18 Updated 11/14/2018 */

.page-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index:1;
	display:flex;
	flex-direction:row;
	height:60px;
	width:100%;
	margin:0; 
	padding:0 20px;
	border-bottom:2px  solid var(--blue-dark);
	background-color:var(--gray-medium);
}

/* Logos */
.logo-box {
	display:flex;
	align-items:center;
	height:60px;
	width:50%;
	min-width:250px;
	padding:0;
}

.logo-s4s-button-off {
	height:60px;
	width:220px;
	margin:0 20px 0 0;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-s4s-3-off.svg);
	background-size:220px 60px;
	background-repeat:no-repeat;
	cursor: pointer;
}

.logo-s4s-button-on {
	height:60px;
	width:220px;
	margin:0 20px 0 0;
	border:none;
	padding:0;
	background-color:transparent;
	background-image: url(../../svg/logo-s4s-3-on.svg);
	background-size:220px 60px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.logo-harvard-button-off {
	height:60px;
	width:140px;
	margin:0;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-harvard-off.svg);
	background-size:140px 40px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}

.logo-harvard-button-on {
	height:60px;
	width:140px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-harvard-on.svg);
	background-size:140px 40px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}

.logo-harvard-dbmi-button-off {
	height:60px;
	width:260px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-harvard-bmi-off.svg);
	background-size:260px 40px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}

.logo-harvard-dbmi-button-on {
	height:60px;
	width:260px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-harvard-bmi-on.svg);
	background-size:260px 40px;
	background-repeat:no-repeat;
	background-position: center center;
	cursor:pointer;
}

.logo-cms-button-off {
	height:60px;
	width:120px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image: url(../../svg/logo-cms-off.svg);
	background-size:120px 40px;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}

.logo-csm-button-on {
	height:60px;
	width:120px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-cms-on.svg);
	background-size:120px 40px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}

.logo-nih-button-off {
	height:60px;
	width:220px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-nih-off.svg);
	background-size:200px 40px;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}

.logo-nih-button-on {
	height:60px;
	width:220px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-nih-on.svg);
	background-size:200px 40px;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}

.logo-ppm-button-off {
	height:60px;
	width:150px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image: url(../../svg/logo-ppm-off.svg);
	background-size:150px 40px;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}

.logo-ppm-button-on {
	height:60px;
	width:150px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image: url(../../svg/logo-ppm-on.svg);
	background-size:150px 40px;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}

.logo-all-of-us-button-off {
	height:60px;
	width:200px;
	margin:0 20px 0 0;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-all-of-us-off.svg);
	background-size:200px 40px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}

.logo-all-of-us-button-on {
	height:60px;
	width:200px;
	margin:0 20px 0 0;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-all-of-us-on.svg);
	background-size:200px 40px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}

.logo-va-button-off {
	height:60px;
	width:150px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image: url(../../svg/logo-va-health-off.svg);
	background-size:150px 40px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}

.logo-va-button-on {
	height:60px;
	width:150px;
	margin:0 0 0 20px;
	border:none;
	padding:0;
	background-color:transparent;
	background-image:url(../../svg/logo-va-health-on.svg);
	background-size:150px 40px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}

/* Header Controls */
.header-controls-box {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items:center;
	justify-content:flex-end;
	height:60px;
	width:calc(20% - 40px);
	padding:0;
}
			
.text-size-smaller-button-off {
	height:20px;
	width:20px;
	background-color:transparent;
	background-image:url(../../svg/icon-text-size-smaller.svg);
	background-position:5px 0;
	background-repeat:no-repeat;
	margin:17px -5px 0 0;
	border:none;
	cursor:pointer;
}

.text-size-larger-button-off {
	height:40px;
	width:40px;
	background-color:transparent;
	background-image:url(../../svg/icon-text-size-larger.svg);
	background-position:0 0;
	background-repeat:no-repeat;
	margin:0 0 0 2px;
	border:none;
	cursor:pointer;
}

.text-size-current {
	font-family:discovery-data-bold;
	font-size:0.900rem;
	text-align:right; 
	color:var(--blue);
	padding:24px 0 0 0;
	margin:0 40px 0 -8px;
}

/* Header Menu */
.header-menu-button {
	height:25px;
	width:25px;
	background-color:transparent;
	background-image:url(../../svg/icon-header-menu.svg);
	background-position:0 0;
	background-repeat:no-repeat;
	margin:3px 0 0 10px;
	border:0;
	cursor:pointer;
}

.header-menu-button-open {
	height:25px;
	width:25px;
	background-color:transparent;
	background-image:url(../../svg/icon-header-menu-hover.svg);
	background-position:0 0;
	background-repeat:no-repeat;
	margin:3px 0 0 10px;
	border:0;
	cursor:pointer;
}

.header-menu {
	position: absolute;
	top: 42px;
	right:20;
	z-index: 3;
	width:120px;
	background-color:var(--white);
	padding:10px;
	border:1px  solid var(--blue-dark);
	margin: 0 20px 0 0;
}

.header-menu-info {
	height:20px;
	width:auto;
	background-color:transparent;
	background-image:url(../../svg/icon-participant-info-off.svg);
	background-position:5px 0;
	background-repeat:no-repeat;
	padding:2px 0 0 30px;
	margin:0 0 5px 0;
	border:none;
	cursor:pointer;
	font-family:discovery-regular;
	font-size:1.000rem;
}

.header-menu-info:hover {
   width:auto;
   background-color:var(--gray-medium);
	opacity:0.4;
}

.header-menu-help {
	height:20px;
	width:auto;
	background-color:transparent;
	background-image:url(../../svg/icon-help-off.svg);
	background-position:5px 0;
	background-repeat:no-repeat;
	padding:0 0 0 30px;
	margin:0 0 5px 0;
	border:none;
	cursor:pointer;
	font-family:discovery-regular;
	font-size:1.000rem;
}

.header-menu-help:hover {
 	width:auto;
   background-color:var(--gray-medium);
	opacity:0.4;
}

.header-menu-download {
	height:20px;
	width:auto;
	background-color:transparent;
	background-image:url(../../svg/icon-download-off.svg);
	background-position:5px 0;
	background-repeat:no-repeat;
	padding:0 0 0 30px;
	margin:0 0 5px 0;
	border:none;
	cursor:pointer;
	font-family:discovery-regular;
	font-size:1.000rem;
}

.header-menu-download:hover {
 	width:auto;
   background-color:var(--gray-medium);
	opacity:0.4;
}

.header-menu-print {
	height:20px;
	width:auto;
	background-color:transparent;
	background-image:url(../../svg/icon-print-off.svg);
	background-position:5px 0;
	background-repeat:no-repeat;
	padding:0 0 0 30px;
	margin:0;
	border:none;
	cursor:pointer;
	font-family:discovery-regular;
	font-size:1.000rem;
}

.header-menu-print:hover {
  	width:auto;
   background-color:var(--gray-medium);
	opacity:0.4;
}
