@charset "UTF-8";

/* Sync for Science Discovery PageHeader Stylesheet */
/* v.01.46 Updated 09/05/2019 */

.page-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   display: flex;
   flex-direction: row;
   height: 46px;
   width: 100%;
   min-width: 1024px;
   background-color: var(--background-header);
   padding: 0 10px 0 0;
   margin: 0; 
}

/* Logos */
.logo-box {
   display: flex;
   align-items: center;
   height: 46px;
   width: 140px;
   min-width: 140px;
   padding: 0;
   margin: 0 10px;
}

.logo-button-common {
   height: 46px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: 0 center;
   padding: 0;
   border: none;
   cursor: pointer;
}

.logo-s4s-button-off {
   @insert .logo-button-common;
   width: 140px;
   background-image: url(../../svg/logo-s4s-4-off.svg);
   background-size: 115px 22px;
   background-position: center;
   margin: 0;
}

.logo-s4s-button-on {
   @insert .logo-button-common;
   width: 140px;
   background-image: url(../../svg/logo-s4s-4-on.svg);
   background-size: 115px 22px;
   background-position: center;
   margin: 0;
}

.logo-harvard-button-off {
   @insert .logo-button-common;
   width: 140px;
   background-image: url(../../svg/logo-harvard-off.svg);
   background-size: 40px 40px;
   margin: 0 20px 0 0;
}

.logo-harvard-button-on {
   @insert .logo-button-common;
   width: 140px;
   background-image: url(../../svg/logo-harvard-on.svg);
   background-size: 140px 40px;
   margin: 0 20px 0 0;
}

.logo-harvard-dbmi-button-off {
   @insert .logo-button-common;
   width: 260px;
   background-image: url(../../svg/logo-harvard-bmi-off.svg);
   background-size: 260px 40px;
}

.logo-harvard-dbmi-button-on {
   @insert .logo-button-common;
   width: 260px;
   background-image: url(../../svg/logo-harvard-bmi-on.svg);
   background-size: 260px 40px;
}

.logo-cms-button-off {
   @insert .logo-button-common;
   width: 120px;
   background-image: url(../../svg/logo-cms-off.svg);
   background-size: 120px 40px;
}

.logo-csm-button-on {
   @insert .logo-button-common;
   width: 120px;
   background-image: url(../../svg/logo-cms-on.svg);
   background-size: 120px 40px;
}

.logo-nih-button-off {
   @insert .logo-button-common;
   width: 220px;
   background-image: url(../../svg/logo-nih-off.svg);
   background-size: 200px 40px;
}

.logo-nih-button-on {
   @insert .logo-button-common;
   width: 220px;
   background-image: url(../../svg/logo-nih-on.svg);
   background-size: 200px 40px;
}

.logo-ppm-button-off {
   @insert .logo-button-common;
   width: 150px;
   background-image: url(../../svg/logo-ppm-off.svg);
   background-size: 150px 40px;
}

.logo-ppm-button-on {
   @insert .logo-button-common;
   width: 150px;
   background-image: url(../../svg/logo-ppm-on.svg);
   background-size: 150px 40px;
}

.logo-all-of-us-button-off {
   @insert .logo-button-common;
   width: 200px;
   background-image: url(../../svg/logo-all-of-us-off.svg);
   background-size: 200px 40px;
   margin: 0 20px 0 0;
}

.logo-all-of-us-button-on {
   @insert .logo-button-common;
   width: 200px;
   background-image: url(../../svg/logo-all-of-us-on.svg);
   background-size: 200px 40px;
   margin: 0 20px 0 0;
}

.logo-va-button-off {
   @insert .logo-button-common;
   width: 150px;
   background-image: url(../../svg/logo-va-health-off.svg);
   background-size: 150px 40px;
}

.logo-va-button-on {
   @insert .logo-button-common;
   width: 150px;
   background-image: url(../../svg/logo-va-health-on.svg);
   background-size: 150px 40px;
}


/* View Controls */
.view-controls-box {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: left;
   justify-content: flex-start;
   height: 42px;
   width: auto;
   padding: 0;
   margin: 4px 0 0 0;
   border: 0;
}

.view-button {
   height: 38px;
   width: 4.50rem; 
   min-width: 4.50rem;
   font-family: header-bold;
   font-size: 0.875rem;
   color: var(--label-button-view-disabled);
   padding: 0;
   border: none;
   border-radius: 5px;
   margin: 0;
   cursor: pointer;
}

.report-view-button-off {
   @insert .view-button;
   background-color: transparent;
}

.report-view-button-on {
   @insert .view-button;
   background-color: var(--button-view);
   color: var(--label-button-view);
}

.longitudinal-view-button-off {
   @insert .view-button;
   background-color: transparent;
}

.longitudinal-view-button-on {
   @insert .view-button;
   background-color: var(--button-view);
   color: var(--label-button-view);
}

.compare-view-button-off {
   @insert .view-button;
   background-color: transparent;
}

.compare-view-button-on {
   @insert .view-button;
   background-color: var(--button-view);
   color: var(--label-button-view);
}

.default-view-button-off {
   @insert .view-button;
   background-color: transparent;
}

.default-view-button-on {
   @insert .view-button;
   background-color: var(--button-view);
   color: var(--label-button-view);
}
.benefits-view-button-off {
   @insert .view-button;
   background-color: transparent;
}

.benefits-view-button-on {
   @insert .view-button;
   background-color: var(--button-view);
   color: var(--label-button-view);
}

.tiles-view-button-off {
   @insert .view-button;
   background-color: transparent;
}

.tiles-view-button-on {
   @insert .view-button;
   background-color: var(--button-view);
   color: var(--label-button-view);
}

.consult-view-button-off {
   @insert .view-button;
   background-color: transparent;
}

.consult-view-button-on {
   @insert .view-button;
   background-color: var(--button-view);
   color: var(--label-button-view);
}

.diabetes-view-button-off {
   @insert .view-button;
   background-color: transparent;
}

.diabetes-view-button-on {
   @insert .view-button;
   background-color: var(--button-view);
   color: var(--label-button-view);
}


/* View Help */
.view-help-container {
   position: fixed;
   top: 56px;
   left: 10px;
   width: 140px;
   height: auto;
   font-family: text;
   background-color: transparent;
   background-clip: padding-box;
   padding: 0;
}

.view-help-title-container {
/* align-items: center;
   width: 140px;
   width: 178px; 
   height: 25px;
   min-height: 25px; 
   height: 0;
   min-height: 0;
   background-color:var(--primary-100);
   padding: 0;
   border: 1.5px solid var(--primary-100);
   border-radius:10px 10px 0 0;
   margin:0; */
}

.view-help-title {
/* display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;  
   height: 25px;
   width: 140px;
   width: 178px; 
   font-family: header-bold;
   font-size: 0.813rem; 
   color: var(--white-100);
   background-color: transparent;
   padding: 0;
   margin: 0; */
}

.view-help-title-icon {
 /*display: flex;
   align-items: center;
   width: 70%; 
   height: 25px;
   background-repeat: no-repeat;
   background-size: 20px 20px;
   background-position: 10px center;
   padding: 0 0 0 40px; */
}

.view-help-title-default-view {
   @insert .view-help-title-icon;
/* width: 140px;
   background-image: url("../../svg/view-icon-overview-on.svg"); */
}

.view-help-title-longitudinal-view {
   @insert .view-help-title-icon;
/* background-image: url("../../svg/view-icon-report-on.svg");
   align-items: center; */
}

.view-help-title-compare-view {
   @insert .view-help-title-icon;
/* background-image: url("../../svg/view-icon-comparison-on.svg"); */
}

.view-help-title-report-view {
   @insert .view-help-title-icon;
/* background-image: url("../../svg/view-icon-report-on.svg"); */
}

.view-help-title-benefits-view {
   @insert .view-help-title-icon;
/* background-image: url("../../svg/view-icon-benefits.svg"); */
}

.view-help-title-consult-view {
   @insert .view-help-title-icon;
/* background-image: url("../../svg/view-icon-consult.svg"); */
}

.view-help-title-diabetes-view {
   @insert .view-help-title-icon;
/* background-image: url("../../svg/view-icon-diabetes.svg"); */
   overflow: visible;
}

.view-help-close-button {
/* display: flex;
   align-content: center;
   align-items: center;
   height: 25px;
   width: 15px;
   background-image: url(../../svg/close_icon.svg);
   background-repeat: no-repeat;
   background-color: transparent;
   background-position: 0 7px;
   fill: var(--white-100);
   border: 0;
   margin: 0 10px 0 0;
   cursor: pointer; */
}

.view-help-contents {
   height: 90px;
   width: 130px;
   font-family: text;
   font-size: 0.625rem;
   color: var(--label-button);
   background-color: var(--background-header);
   padding: 5px 5px;
   border-radius: 5px 5px 5px 5px;
   margin: 0;
   overflow-y: hidden;
   overflow-x: hidden;
   white-space: pre-wrap;
}

.view-help-contents-icon {
   height: 22px;
   width: 140px;
   background-color: transparent;
   background-image: url("../../svg/help-icon.svg");
   background-size: 22px 22px;
   background-repeat: no-repeat;
   background-position: right center;
   margin: -11px 0 0;
}

.content-panel-icon-all {
   height: 15px;
   width: 15px;
   background-image: url("../../svg/content-panel-button-all.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size:cover;
   margin: 0;
}

.content-panel-icon-dot {
   height: 15px;
   width: 15px;
   background-image: url("../../svg/content-panel-button-dot.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size:cover;
   margin: 0 5px;
}

.patient-name {
   display: flex;
   align-items: center;
	justify-content: flex-start;
	height: 60px;
	width: 45%;
	font-family: text;
   font-size: 1.200rem;
	text-align: left;
   color:var(--label-participant);
   white-space: nowrap;
	padding: 5px 0 0 0;
   margin: 0 20px;
}

/* Header Controls */
.header-controls-box {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: flex-end;
   height: 20px;
   width: 84px;
   min-width: 84px;
   padding: 0;
   background-color: var(--background-header-control);
   background-image: url("../../svg/text-scale-background.svg");
   background-position: center center;
   background-size: 40px auto;
   background-repeat: no-repeat;
   border-radius: 20px; 
   margin: 13px 10px 13px 20px;
}
			
.text-size-smaller-button-off {
   width: 22px;
   min-width: 22px;
   height: 20px;
   font-family: text-semibold;
   font-size: 12px;
   color: var(--gs-020-100);
   text-align: left;
   background-color: transparent;
   padding: 0 0 0 5px;
   border: none;
   margin: 13px 0 13px 0;
	cursor: pointer;
}

.text-size-slider-container {
   height: 20px;
   width: 40px;
   min-width: 40px;
}

.text-size-slider-button {
   height: 20px;
   width: 8px;
   min-width: 8px;
   background-image: url("../../svg/text-size-slider-button.svg");
   background-repeat: no-repeat;
   background-position: center;
   margin: 0 auto;
}

.text-size-larger-button-off {
   width: 22px;
   min-width: 22px;
   height: 20px;
   font-family: text-semibold;
   line-height: 20px;
   color: var(--gs-020-100);
   font-size: 18px;
   text-align: right;
   background-color: transparent;
   padding: 0 5px 0 0;
   border: none;
   margin: 13px 0 13px 0;
   cursor: pointer;
}

.text-size-current {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 20px;
   font-family: text-semibold;
   font-size: 0.625rem;
   text-align: right;
   line-height: 20px;
   color: var(--gs-100-100);
   padding: 0;
   margin: 13px 10px 13px 5px;
   cursor: pointer;
}

/* Header Menu */
.header-menu-button {
   height: 40px;
   width: 40px;
   min-width: 40px;
   background-color: transparent;
   background-image: url(../../svg/icon-header-menu.svg);
   background-position: center center;
   background-size: 30px 30px;
   background-repeat: no-repeat;
   border: 0;
   margin: 0 0 0 10px;
   cursor: pointer;
}

.header-menu-button-open {
   height: 40px;
   width: 40px;
   min-width: 40px;
   background-color: transparent;
   background-image: url(../../svg/icon-header-menu-hover.svg);
   background-position: center center;
   background-size: 30px 30px;
   background-repeat: no-repeat;
   border: 0;
   margin: 0 0 0 10px;
   cursor: pointer;
}

.header-menu {
   position: absolute;
   top: 42px;
   right: 20;
   z-index: 3;
   width: 120px;
   background-color: var(--white-100);
   padding: 10px;
   border: 1px solid var(--primary-100);
   margin: 0 20px 0 0;
}

.header-menu-item-common {
   height: 20px;
   width: auto;
   font-family: text;
   font-size:1.000rem;
   background-color: transparent;
   background-position: 5px 0;
   background-repeat: no-repeat;
   border: none;
   cursor:pointer;
}

.header-menu-info {
   @insert .header-menu-item-common;
   background-image: url(../../svg/icon-participant-info-off.svg);
   padding: 2px 0 0 30px;
   margin: 0 0 5px 0;
}

.header-menu-info:hover {
   width: auto;
   background-color: var(--gray-medium-040);
}

.header-menu-help {
   @insert .header-menu-item-common;
   background-image: url(../../svg/icon-help-off.svg);
   padding: 0 0 0 30px;
   margin: 0 0 5px 0;
}

.header-menu-help:hover {
   width: auto;
   background-color: var(--gray-medium-040);
}

.header-menu-download {
   @insert .header-menu-item-common;
   background-image: url(../../svg/icon-download-off.svg);
   padding: 0 0 0 30px;
   margin: 0 0 5px 0;
}

.header-menu-download:hover {
   width: auto;
   background-color: var(--gray-medium-040);
}

.header-menu-print {
   @insert .header-menu-item-common;
   background-image: url(../../svg/icon-print-off.svg);
   padding: 0 0 0 30px;
   margin: 0;
}

.header-menu-print:hover {
   width: auto;
   background-color: var(--gray-medium-040);
}
