@charset "UTF-8";

/* Sync for Science Discovery MedsRequested Stylesheet */
/* v.01.08 Updated 09/07/2018 */

.meds-requested-header {
	margin:0.625rem 1.250rem;
	border-bottom: 0.063rem solid var(--discovery-blue);
	font-family: discovery-bold;
	font-size:1.000rem;
	color: var(--discovery-blue);
}

.meds-requested-body {
	margin:0 1.250rem;
}

.meds-requested-loading {
    color: white;
    background-color: red;
    padding: 0.313rem;
}

.meds-requested-container {
	display:grid;
	grid-template-columns:repeat(40, minmax(min-content, 1fr));
	grid-column-gap: 0.313rem;
	border-bottom:0.063rem solid var(--discovery-data-divider);
	padding:0 0 0.313rem 0;
	margin:0 0 0.625rem 0;
}

.meds-requested-container-last {
	display:grid;
	grid-template-columns:repeat(40, minmax(min-content, 1fr));
	grid-column-gap: 0.313rem;
	border-bottom:0.063rem solid var(--discovery-background);
	padding:0 0 0.313rem 0;
	margin:0 0 0.625rem 0;
}

.meds-requested-display {
	height:auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 1/span 40;
}

.meds-requested-status-label {
	height:auto;
	width:8.250rem;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 1;
}

.meds-requested-status-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 2;
}

.meds-requested-dosage {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:0.800%;
	text-align: right;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0.375rem 0 0 0;
	grid-column: 3;
}

.meds-requested-start-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:0.375rem 0 0 0.938rem;
	grid-column:1;
}

.meds-requested-start-date {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.meds-requested-repeat-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:0.375rem 0 0 0.938rem;
	grid-column: 3;
}

.meds-requested-repeat-count {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 4;
}

.meds-requested-reason-label {
	height:auto;
	width:8.250rem;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:0.375rem 0 0 0;
	grid-column:1;
}

.meds-requested-reason-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.meds-requested-onset-label {
	height:auto;
	width:8.250rem;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:0.375rem 0 0 0;
	grid-column:1;
}

.meds-requested-onset-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.meds-requested-abatement-label {
	height:auto;
	width:8.250rem;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:0.375rem 0 0 0;
	grid-column:1;
}

.meds-requested-abatement-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.meds-requested-asserted-label {
	height:auto;
	width:8.250rem;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:0.375rem 0 0 0;
	grid-column:1;
}

.meds-requested-asserted-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}