@charset "UTF-8";

/* Sync for Science Discovery MedsRequested Stylesheet */
/* v.01.11 Updated 10/08/2018 */

.meds-requested-loading {
    color:var(--discovery-background);
    background-color:var(--discovery-data-loading);
    padding:5px;
}

.meds-requested-display {
	height:auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 1/span 40;
}

.meds-requested-status-label {
	height:auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 1;
}

.meds-requested-status-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 2;
}

.meds-requested-dosage {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 3;
}

.meds-requested-start-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 15px;
	grid-column:1;
}

.meds-requested-start-date {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.meds-requested-repeat-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 15px;
	grid-column: 3;
}

.meds-requested-repeat-count {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 4;
}

.meds-requested-reason-label {
	height:auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-reason-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.meds-requested-onset-label {
	height:auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-onset-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.meds-requested-abatement-label {
	height:auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-abatement-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.meds-requested-asserted-label {
	height:auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-asserted-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}