@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery MedsRequested Stylesheet */
/* v.01.16 Updated 2/06/2019 */

.meds-requested-display {
	@insert .content-panel-display;
}

.meds-requested-status-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column: 1;
}

.meds-requested-status-value {
	@insert .value;
	grid-column: 2;
}

.meds-requested-dosage {
	@insert .label;
/*	font-family: discovery-data-text;
	color: var(--data); */
	text-align: left;
	padding:6px 0 0 0;
	grid-column: 3/span 4;
}

.meds-requested-start-label {
	@insert .label;
	padding:6px 0 0 15px;
	grid-column:1;
}

.meds-requested-start-date {
	@insert .value;
	font-family: discovery-data;
	padding:0;
	grid-column:2/span 3;
}

.meds-requested-repeat-label {
	@insert .label;
	padding:6px 0 0 15px;
	grid-column: 5;
}

.meds-requested-repeat-count {
	@insert .value;
	font-family: discovery-data;
	grid-column: 6;
}

.meds-requested-reason-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-reason-value {
	@insert .value;
	grid-column:2;
}

.meds-requested-onset-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-onset-value {
	@insert .value;
	font-family: discovery-data;
	grid-column:2;
}

.meds-requested-abatement-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-abatement-value {
	@insert .value;
	font-family: discovery-data;
	grid-column:2;
}

.meds-requested-asserted-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-asserted-value {
	@insert .value;
	font-family: discovery-data;
	grid-column:2;
}

.meds-requested-loading {
    color:var(--white);
    background-color:var(--red);
    padding:5px;
}

.meds-requested-provider-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 0;
	grid-column:1;
}

.meds-requested-provider-value {
	@insert .value;
	grid-column:2/span 4;
}
