 @charset "UTF-8";

/* Sync for Science Discovery TimeWidget Stylesheet */
/* v.01.11 Updated 10/09/2018 */

.time-widget {
	display:flex;
	flex-direction:row;
	height:77px;
	width:auto;
	margin:0;
	padding:0 20px;
}

.calendar-daterange-box {
	display:flex;
	flex-direction: row;
	align-items: center; 
	height:77px;
	width:182px;
	min-width:182px;
}

.calendar-button-off {
	height:40px;
	width:40px;
	background-color:transparent;
	background-image:url(../../svg/calendar_icon.svg);
	background-size:40px 40px;
	background-position:0 0;
	background-repeat:no-repeat;
	border:0;
	cursor:pointer;
}

.calendar-button-on {
	height:40px;
	width:40px;
	background-color:transparent;
	background-image:url(../../svg/calendar_icon.svg);
	background-size:40px 40px;
	background-position:0 0;
	background-repeat:no-repeat;
	border:0;
	cursor:pointer;
}

.date-range {
	font-family:discovery-data-bold;
	font-size:0.800rem;
	line-height:100%;
	color: var(--discovery-blue);
	margin:0 0 0 20px;
	white-space:nowrap;
	text-align:center;
}

.timeline-controls {
	display:flex;
	flex-direction: column;
	width:100%;
	height:auto;
	margin:0;
	padding:10px 0 0 0;
	background-color:transparent;
}

.timeline-reference-box {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items:initial;
	width:inherit;
	margin:0 0 20px 0;
	padding:0;
	background-color:transparent;
}	

.timeline-years {
	width:inherit;
	height:0.800rem;
	font-family:discovery-data-bold;
	font-size:0.800rem;
	color: var(--discovery-blue);
	margin:0;
	border-bottom:var(--discovery-black) solid 1px;
	border-left:var(--discovery-black) solid 1px;
	padding:0 0 5px 5px;
	overflow: visible;
}

.timeline-selection-box {
	display:grid;
	grid-template-columns:repeat(40, minmax(min-content, 1fr));
	width:inherit;
	margin:0;
	background-color:transparent;
}

.timeline-svg-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height:46px;
	width:auto;
	margin: 0;
	padding:0 5px;
	background-image: url(../../svg/horizontal-rule-1px-black.svg);
	background-position: center;
	background-repeat: repeat-x;
	background-clip: padding-box;
	overflow:hidden;
	grid-column:1/span 40;
	grid-row: 1;
}

.timeline-svg {
	height:46px;
	overflow: visible;
}

.timeline-selector-left {
	
	height:46px;
	width:20px;
	margin:0;
	background-image:url(../../svg/thumb-left.svg);
	background-repeat:no-repeat;
	background-position:center center;
	margin:0 0 0 -20px;
	grid-column:1/span 40;
	grid-row: 1;
}

.timeline-selector-right {
	
	height:46px;
	width:20px;
	margin:0;
	background-color:transparent;
	background-image:url(../../svg/thumb-right.svg);
	background-repeat:no-repeat;
	background-position:center center;
	grid-column:1/span 40;
	grid-row: 1;
}
