@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';

/* Sync for Science Discovery TimeWidget Stylesheet */
/* v.01.30 Updated 01/31/2019 */

.time-widget {
   position: fixed;
   top:62px;
   left: 0;
   z-index:0;
   display:flex;
   flex-direction:row;
   height:80px;
   width:100%;
   min-width:1024px;
   margin:0; 
   padding:0;
   border-top:2px solid white;
   border-bottom:2px solid white;
   background-color:transparent;
   overflow: visible;
}

.calendar-daterange-box {
   display:flex;
   flex-direction: row;
   align-items: center; 
   height:80px;
   width:184px;
   min-width:184px;
   padding:0 10px 0 20px;
   margin:0;
}

.calendar-button {
   height:30px;
   width:30px;
   background-color:transparent;
   background-size:30px 30px;
   background-position:0 0;
   background-repeat:no-repeat;
   border:0;
   margin:0;
   padding:0 0 0 8px;
   cursor:pointer;
}

.calendar-button-off {
   @insert .calendar-button;
   background-image:url(../../svg/calendar_icon.svg);
}

.calendar-button-on {
   @insert .calendar-button;
   background-image:url(../../svg/calendar_icon.svg);
}

.date-range {
   font-family:discovery-data-bold;
   font-size:0.800rem;
   font-weight: bold;
   line-height:120%;
   color: var(--discovery-blue);
   margin:0 0 0 19px;
   white-space:nowrap;
   text-align:center;
}

.timeline-controls {
   display:flex;
   flex-direction: column;
   width:calc(100% - 235px);
   min-width:810px;
   height:80px;
   max-height:80px;
   margin:0;
   padding:0;
   background-color:transparent;
   background-image: url("../../png/timeline-background-01.png");
   background-position: 0 0;
   background-repeat: repeat-x;
   background-size: 100px 80px;
}

.timeline-selection-box {
   position:relative;
   top:0;
   left:0;
   width:auto;
   height:30px;
   max-height:30px;
   margin:0;
   padding:0;
   background-color:transparent;
   overflow: visible;
}

.timeline-selector-gradient-container {
   display:flex;
   flex-direction: row;
   height:41px;
}

.timeline-selector-gradient-left {
   height:inherit;
   background-image: linear-gradient(to right, rgb(243,244,248), rgb(77,95,157));
   margin-top:0;
   border-bottom:3px solid black;
}

.timeline-selector-gradient-right {
   position: relative;
   height:inherit;
   background-image: linear-gradient(to left, rgb(243,244,248), rgb(77,95,157));
   margin:0 40px 0 0;
   border-bottom: 3px solid black;
}

.timeline {
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items:initial;
   width:100%;
   height:30px;
   min-height:30px;
   max-height:30px;
   margin:-40px 0 0 0;
   padding:0 0 0 0;
   background-color:transparent;
}	

.timeline-full {
   width:100%;
   height:30px;
   max-height:30px;
   font-size:0.800rem;
   background-position:left bottom;
   background-size:2px 100%;
   background-repeat:repeat-y;
   background-color: transparent;
   margin:0 0 0 -1px;
   padding:0 0 0 5px;
   overflow: visible;
}

/* The full (top) timeline years inside the thumbs when the expanded (bottom) timeline ISN’T showing */
.timeline-full-active-single-years {
   @insert .timeline-full;
   font-family:discovery-data-bold;
   font-weight:bold;
   color: var(--discovery-blue);
   background-image:url("../../svg/tickmark-black.svg");
   margin:4px 0 0;
}

/* The full (top) timeline years inside the thumbs when the expanded (bottom timeline IS showing */
.timeline-full-active-double-years {
   @insert .timeline-full;
   font-family:discovery-data-bold;
   font-weight:bold;
   color: var(--discovery-blue);
   background-image:url("../../svg/tickmark-black.svg");
   margin:4px 0 0 0;
}

/* The full (top) timeline years outside the thumbs */
.timeline-full-inactive-years {
   @insert .timeline-full;
   font-family:discovery-data;
   color:black;
   background-image:url("../../svg/tickmark-gray.svg");
   margin:4px 0 0 0;
}

.timeline-svg-container {
   position:relative;
   top:-58px;
   display: flex;
   justify-content:center;
   align-items:center;
   height:30px;
   max-height:30px;
   width:inherit;
   margin:0;
   padding:0;
   background-image: url(../../svg/horizontal-rule-1px-black.svg);
   background-position:center;
   background-repeat: repeat-x;
   background-clip: padding-box;
   background-color:transparent;
   overflow:hidden;
   pointer-events: none;
}

.timeline-svg {
   position: relative;
   left:0;
   height:30px;
   max-height: 30px;
   padding:0;
   overflow: visible;
   pointer-events:none;
}

.timeline-selector-container {
   position: relative;
   top:-31px;
   display:flex;
   flex-direction: row;
   width:calc(100% - 0px);
   height: 42px;
   margin:0;
}

.timeline-selector {
   position: relative;
   height:44px;
   width:20px;
   min-width:20px;
   background-color:transparent;
   background-repeat:no-repeat;
   background-position:center center;
   background-size:cover;
   margin:0;
   cursor: pointer;
}



.timeline-selector-left {
   @insert .timeline-selector;
   background-image:url("../../svg/bracket-left-top.svg");
   margin-left:-1.0px;
}

.timeline-selector-left-alt {
   @insert .timeline-selector;
   background-image:url("../../svg/bracket-left-top-alt.svg");
   margin-left:-1.0px;
}

.timeline-selector-right {
   @insert .timeline-selector;
   background-image:url("../../svg/bracket-right-top.svg");
   margin-left:-39px;
}

.timeline-selector-right-alt {
   @insert .timeline-selector;
   background-image:url("../../svg/bracket-right-top-alt.svg");
   margin-left:-39px;
}



.timeline-expanded {
   position:relative;
   top:20px;
   left:0px;
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items:initial;
   width:calc(100% - 0px);
   height:30px;
   max-height: 30px;
   margin:0 0 0;
   padding:0;
   background-color:transparent;
}

/* The offset to left/right of the timeline */
.timeline-shim {
   position:relative;
	top:-9px;
	min-width:20px;
   height:40px;
}

.timeline-shim-left {
   @insert .timeline-shim;
   background-image: url("../../svg/bracket-left-bottom.svg");
   background-size: cover;
   margin:0 0 0 -1px;
}

.timeline-shim-right {
   @insert .timeline-shim;
   background-image: url("../../svg/bracket-right-bottom.svg");
   background-size: cover;
   margin:0 0 0 -20px;
}

/* The expanded (bottom timeline years */
/* NOTE: If padding-left or padding-right are changed, remember to update index.js (line 12) */
.timeline-expanded-years {
   display:flex;
   flex-direction:row;
   align-self: flex-end;
   align-content: flex-end;
   align-items: flex-end;
   height:35px;
   max-height: 30px;
   font-family:discovery-data-bold;
   font-weight:bold;
   font-size:0.750rem;
   color: var(--discovery-blue);
   margin:-24px 0 0 0;
   padding:0 0 5px 5px;
   background-image:url("../../svg/tickmark-black-expanded.svg");
   background-position:top left;
   background-size:2px 30px;
   background-repeat:no-repeat;
   overflow: visible;
}
