@charset "UTF-8";

/* Sync for Science Discovery DotLine Stylesheet */
/* v.01.13 Updated 12/23/2019 */

.active-dots {
   height: 10px;
   width: 10px;
   fill: var(--dots-active);
   stroke: var(--dots-active-stroke);
   stroke-width: 1px;
   padding: 10px 0 3px 0;
   cursor: pointer;
   pointer-events: visible;
}  

.inactive-dots {
   fill: var(--dots-inactive);
   stroke: var(--dots-inactive-stroke);
   stroke-width:1px;
}

.inactive-content-dots {
   fill: var(--dots-content-inactive);
   stroke: var(--dots-content-inactive-stroke);
   stroke-width:1px;
}

.view-accent-dots {
   fill: var(--tile-selected);
   stroke:var(--dots-active-stroke);
   stroke-width:1px;
   cursor:pointer;
   pointer-events: visible;
}

.view-last-accent-dots {
   fill: var(--tile-selected-last);
   stroke:var(--dots-active-stroke);
   stroke-width:1px;
   cursor:pointer;
   pointer-events: visible;
}

.active-search-dots {
   fill: var(--dots-active-search);
   stroke: var(--dots-active-search-stroke);
   stroke-width: 1px;
   cursor: pointer;
   pointer-events: visible;
}  

.inactive-search-dots {
   fill: rgba(255,20,20,0.10);
   stroke: var(--dots-active-stroke);
   stroke-width: 1px;
/*   cursor: pointer;
   pointer-events: visible; */
}

.highlight-ring-dots {
   fill: var(--dots-highlight-ring);
   stroke: var(--dots-highlight-ring-stroke);
   stroke-width: 3px;
   overflow: visible;
   cursor: pointer;
   pointer-events: visible;
}
