@charset "UTF-8";

/* Sync for Science Discovery CategoryRollup Stylesheet */
/* v.01.10 Updated 10/08/2018 */

.category-rollup {
	display:flex;
	flex-direction: row;
	height:auto;
	max-height:36px;
	width:100%;
	margin: 0;
}

.category-rollup-nav-enabled {
	display:flex;
	justify-content: center;
	height: auto;
	width:184px;
	min-width:184px;
	margin:0;
	padding:10px 0;
	background-color: var(--discovery-category);
	background-image: url(../../svg/arrow-down-icon.svg);
	background-size:20px 20px;
	background-position:8px 8px;
	background-repeat: no-repeat;
	font-family:discovery-bold;
	font-size:0.813rem;
	color: var(--discovery-category-label-light);
	text-align:center;
}

.category-rollup-nav-disabled {
	display:flex;
	justify-content: center;
	height: auto;
	width:184px;
	min-width:184px;
	margin:0;
	padding:10px 0;
	background-color: var(--discovery-category);
	background-image: url(../../svg/arrow-right-icon.svg);
	background-size:20px 20px;
	background-position:8px 8px;
	background-repeat: no-repeat;
	font-family:discovery-bold;
	font-size:0.813rem;
	color: var(--discovery-category-label-light);
	text-align: center;
}

.category-rollup-svg-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	width: 100%;
	margin: 0;
	padding:0 5px;
	background-image: url(../../svg/horizontal-rule-1px-black.svg);
	background-position: center;
	background-repeat: repeat-x;
	background-clip: padding-box;
	overflow:hidden;
}

.category-rollup-svg {
	height:inherit;
	overflow: visible;
}
