@charset "UTF-8";
@import '../../css/Colors.css';
/* @import '../../css/ColorVariablesMaster.css'; */
@import '../../css/CategoryProvider.css';

/* Sync for Science Discovery CategoryRollup Stylesheet */
/* v.01.20 Updated 03/22/2019 */

.category-rollup {
	@insert .category-provider-rollup;
}

.category-rollup-nav-enabled {
	@insert .category-provider-rollup-nav-enabled;
	color: var(--white-100);
	background-color: var(--primary-100);
}

.category-rollup-nav-disabled {
	@insert .category-provider-rollup-nav-disabled;
	color: var(--white-100);
	background-color: var(--primary-100);
}

.category-rollup-svg-container {
	@insert .category-provider-svg-container;
	position: fixed;
	top: 100px;
	left: 214px;
	width: calc(100% - 255px);
/*	width: calc(100% - 245px);
	background-color: transparent;
	padding: 0 10px;
	margin: 0; */
}

.category-rollup-svg {
	@insert .category-provider-svg;
	position: relative;
	margin: 0;
}
