@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Proceedures Stylesheet */
/* v.01.17 Updated 11/16/2018 */

.procedures-display {
	@insert .content-panel-display;
}

.procedures-value-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 ;
	grid-column:1;
}

.procedures-value-value {
	@insert .value;
	grid-column:2;
}

.procedures-value-unit {
	@insert .label;
	width:auto;
	text-align: left;
	padding:6px 0 0 0rem;
	grid-column:3;
}

.procedures-status-label {
	@insert .label;
	width:132px;
	padding:6px 0 0 0;
	grid-column:1;
}

.procedures-status-value {
	@insert .value;
	grid-column:2/span 2;
}

.procedures-reason-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 15px;
	grid-column:1;
}

.procedures-reason-value {
	@insert .value;
	grid-column:2;
}

.procedures-onset-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 15px;
	grid-column:1;
}

.procedures-onset-value {
	@insert .value;
	grid-column:2;
}

.procedures-abatement-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 015px;
	grid-column:1;
}

.procedures-abatement-value {
	@insert .value;
	grid-column:2;
}

.procedures-asserted-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 15px;
	grid-column:1;
}

.procedures-asserted-value {
	@insert .value;
	grid-column:2;
}

.procedures-loading {
    color:var(--white);
    background-color:var(--red);
    padding:5px;
}

.procedures-provider-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 0;
	grid-column:1;
}

.procedures-provider-value {
	@insert .value;
	grid-column:2;
}