@charset "UTF-8";

/* Sync for Science Discovery Proceedures Stylesheet */
/* v.01.11 Updated 10/09/2018 */

.procedures-loading {
    color:var(--discovery-background);
    background-color:var(--discovery-data-loading);
    padding:5px;
}

.procedures-display {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space:nowrap;
	padding:0;
	grid-column:1/span 40;
}

.procedures-value-label {
	height:auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 ;
	grid-column:1;
}

.procedures-value-value {
	height:auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.procedures-value-unit {
	height:auto;
	width:auto;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: left;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0rem;
	grid-column:3;
}

.procedures-status-label {
	height:auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:1;
}

.procedures-status-value {
	height:auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2/span 2;
}

.procedures-reason-label {
	height:auto;
	width:auto;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color:var(--discovery-data-label);
	white-space:nowrap;
	padding:6px 0 0 15px;
	grid-column:1;
}

.procedures-reason-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align:left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.procedures-onset-label {
	height:auto;
	width:auto;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color:var(--discovery-data-label);
	white-space:nowrap;
	padding:6px 0 0 15px;
	grid-column:1;
}

.procedures-onset-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align:left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.procedures-abatement-label {
	height:auto;
	width:auto;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color:var(--discovery-data-label);
	white-space:nowrap;
	padding:6px 0 0 015px;
	grid-column:1;
}

.procedures-abatement-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align:left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.procedures-asserted-label {
	height:auto;
	width:auto;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color:var(--discovery-data-label);
	white-space:nowrap;
	padding:6px 0 0 15px;
	grid-column:1;
}

.procedures-asserted-value {
	height:auto;
	width:auto;
	font-family: discovery-data;
	font-size:1.200rem;
	text-align:left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}