@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery VitalSigns Stylesheet */
/* v.01.20 Updated 12/26/2018 */

.vital-signs-display {
   @insert .content-panel-display;
	min-width:50%;
	grid-column:1/span 20;
}

.vital-signs-value1 {
   @insert .value;
	font-family: discovery-data;
   text-align: right;
   width:132px;
   grid-column:1;
}

.vital-signs-unit1 {
   @insert .label;
   text-align: left;
   padding:4px 0 0 0;
   grid-column:2;
}

.vital-signs-label1 {
   @insert .label;
   text-align: left;
   padding:4px 0 0 0;
   grid-column:3;
}

.vital-signs-value2 {
   @insert .value;
	font-family: discovery-data;
   text-align: right;
   grid-column:1;
}

.vital-signs-unit2 {
   @insert .label;
   text-align: left;
   padding:4px 0 0 0;
   grid-column:2;
}

.vital-signs-label2 {
   @insert .label;
   text-align: left;
   padding:4px 0 0 0;
   grid-column:3;
}

.vital-signs-status-label {
   @insert .label;
   width:auto;
   padding:6px 0 0 15px;
   grid-column:1;
}

.vital-signs-status-value {
   @insert .value;
   grid-column:2;
}

.vital-signs-time-series {
   min-width:50%;
	align-self: flex-end;
	padding:0;
	grid-column:21/span 40;
	grid-row:1/6; 
}

.vital-signs-provider-label {
	@insert .label;
	width:auto;
	padding:6px 0 0 0;
	grid-column:1;
}

.vital-signs-provider-value {
	@insert .value;
	grid-column:2;
}
