@charset "UTF-8";

/* Sync for Science Discovery Category and Provider CSS */
/* v.01.12 Updated 02/20/2019 */

.categories-providers {
	height: auto;
	width: auto;
	min-width:1024;
	padding:0;
	margin:0 20px 0 0;
}

.category-provider-rollup {
	display:flex;
	flex-direction: row;
	height:28px;
	max-height:28px;
	width:100%;
	margin:0;
	padding:0 20px 0 0;
}

.category-provider-rollup-nav-enabled {
	display:flex;
	justify-content:flex-start;
	align-items: center;
	height:28px;
	max-height:28px;
	width:50px;
	min-width:50px;
	max-width: 140px;
	margin:0 10px 0 20px;
	padding:0 0 0 28px;
	background-image: url(../../svg/arrow-down-icon.svg);
	background-size:18px 18px;
	background-position:4px 6px;
	background-repeat: no-repeat;
	font-family:discovery-bold;
	font-size:0.813rem;
	text-align:left;
	border-radius: 0 20px 20px 0;
}

.category-provider-rollup-nav-disabled {
	display:flex;
	justify-content:flex-start;
	align-items: center;
	height:28px;
	max-height:28px;
	width:140px;
	min-width:140px;
	max-width:140px;
	margin:0 10px 0 20px;
	padding:0 0 0 28px;
	background-image: url(../../svg/arrow-right-icon.svg);
	background-size:18px 18px;
	background-position:4px 6px;
	background-repeat: no-repeat;
	font-family:discovery-bold;
	font-size:0.813rem;
	text-align: left;
	border-radius: 0 20px 20px 0;
}

.category-provider-row {
	display:flex;
	flex-direction:row;
	height:28px;
	max-height:28px;
	width:100%;
	margin:0;
	padding:0;
}

.category-provider-nav {
	display:flex;
	justify-content: center;
	height: auto;
	width:184px;
	min-width:184px;
	margin:0 10px 0 20px;
	padding: 0;
	text-align:center;
	cursor: default;
}

.category-provider-button {
	display:flex;
	justify-content:flex-start;
	height: auto;
	width:180px;
	max-width:180px;
	margin:3px 0;
	padding:0;
 	font-size:0.813rem;
	white-space: nowrap;
	cursor: pointer;
	align-items:left;
	outline:none;
	overflow: hidden;
}

.category-provider-svg-container {
	display:flex;
	justify-content:center;
	align-items:center;
	height:inherit;
	width:100%;
	min-width:810px;
	margin:0;
	padding:0 10px;
	background-image:url(../../svg/horizontal-rule-1px-black.svg);
	background-position:center;
	background-repeat:repeat-x;
	background-clip:padding-box;
	overflow:hidden;
}

.category-provider-svg {
	height:inherit;
	overflow: visible;
}