@charset "UTF-8";

/* Sync for Science Discovery Color Variables Master */
/* v.01.01 Updated 10/22/2018 */

:root {
/* Interface Structure Colors */
	--discovery-background:rgba(255,255,255,1.0);
	--discovery-black:rgba(0,0,0,1.0);
	--discovery-gray:rgba(167,168,170,1.0);
	--discovery-gray-light:rgba(167,168,170,0.4);
	--discovery-blue:rgba(0,26,114,1.0);
	--discovery-modal-shadow:rgba(0,0,10,0.25);
	
	/* Category Colors */
	--discovery-category:rgba(1,166,170,1.0);
	--discovery-category-label-light:rgba(255,255,255,1.0);
	--discovery-category-label-dark:rgba(1,166,170,1.0);
	
	/* Provider Colors */
	--discovery-provider:rgba(1,166,170,1.0);
	--discovery-provider-label-light:rgba(255,255,255,1.0);
	--discovery-provider-label-dark:rgba(1,166,170,1.0);
	
	/* Dot Colors */
	--discovery-dots-active:rgba(1,166,170,0.7);
	--discovery-dots-active-stroke:rgba(255,255,255,1.0);
	--discovery-dots-active-search:rgba(255,80,80,1.0);
	--discovery-dots-active-search-stroke:rgba(255,255,255,1.0);
	--discovery-dots-inactive:rgba(176,176,176,0.6);
	--discovery-dots-inactive-stroke:rgba(255,255,255,1.0);
	--discovery-dots-inactive-search:rgba(255,160,160,1.0);
	--discovery-dots-inactive-search-stroke:rgba(255,255,255,1.0);
	--discovery-dots-active-highlight:rgba(1,166,170,1.0);
	--discovery-dots-active-highlight-stroke:rgba(255,255,255,1.0);
	--discovery-dots-active-highlight-search:rgba(255,80,80,1.0);
	--discovery-dots-active-highlight-search-stroke:rgba(255,255,255,1.0);
	--discovery-dots-inactive-highlight:rgba(176,176,176,0.6);
	--discovery-dots-inactive-highlight-stroke:rgba(255,255,255,1.0);
	--discovery-dots-inactive-highlight-search:rgba(255,160,160,1.0);
	--discovery-dots-inactive-highlight-search-stroke:rgba(255,255,255,1.0);
	--discovery-dots-highlight-ring:rgba(1,166,170,0.0);
	--discovery-dots-highlight-ring-stroke:rgba(141,48,49,1.0);
	
	/* Data Colors */
	--discovery-data:rgba(141,48,49,1.0);
	--discovery-data-label:rgba(125,125,125,1.0);
	--discovery-data-divider:rgba(200,200,200,1.0);
	--discovery-data-loading:rgba(255,20,20,1.0);
	
	/* Simplified Colors - 11/14/18 */
	
	
	--white:rgb(255,255,255);
	--black:rgb(0,0,0);
	--gray-light:(200,200,200);
	--gray-medium:rgb(167,168,170);
	--gray-dark:rgb(125,125,125);
	--blue-dark:rgb(0,26,114);
	--category:rgb(1,166,170);
	--provider:rgb(1,166,170);
	--red:rgb(255,20,20);
	--red-light:rgb(255,80,80);
	--data:rgb(141,48,49);
	}












