@charset "UTF-8";


/* Sync for Science Discovery ContentPanelGlobal Stylesheet */
/* v.01.06 Updated 2/13/2019 */

.content-panel-display {
	height:auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--data);
	white-space: nowrap;
	padding:0 0 0 20px;
	grid-column:1/span 39;
}

.label {
	height:1.200rem;
	width:auto;
	font-family:discovery-bold;
	font-size:0.800rem;
	text-align: right;
	color: var(--data);
	white-space: nowrap;
	vertical-align:text-bottom;
}

.value {
	height:1.200rem;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	line-height:1.2;
	color: var(--data);
	text-align: left;
	white-space: nowrap;
	padding:0;
	vertical-align:text-bottom;
}