@charset "UTF-8";
@import 'Fonts.css';
@import 'Colors.css';

/* Sync for Science LabelValueMaster Stylesheet */
/* v.01.02 Updated 3/28/2019 */

/* Label Styles */
.label-master {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 1.100rem;
	width: auto;
	font-size:0.800rem;
	text-align: left;
	line-height:1.100rem;
	color: var(--data);
	padding: 0.300rem 0 0 20px;
	margin: 0 0 0 0;
   white-space: nowrap;
}

.label {
	@insert .label-master;
	font-family: label;
}

.label-bold {
	@insert .label-master;
	font-family: label-bold;
}

/* Value Styles */
.value-master {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 1.100rem;
	width: auto;
	font-size: 1.100rem;
	line-height: 1.100rem;
	color: var(--data);
	text-align: left;
	padding:0;
	margin:0.200rem 0 0 0;
   white-space: nowrap;
}

.value {
	@insert .value-master;
	font-family: data-number;
}

.value-text {
	@insert .value-master;
	font-family: label;
}