@charset "UTF-8";
/* Sync for Science Discovery Container Stylesheet 01 */
/* v.2.06 Updated 05/16/2018 */
/* This stylesheet is supplimental to the Bootstrap stylesheet. */

/* Styles Part 00 - Global Styles */
	/* Fonts */
	@font-face {
		font-family:discovery-regular;
		src: url(../fonts/arial.ttf);
	}
	@font-face {
		font-family:discovery-bold;
		src: url(../fonts/arial-bold.ttf);
	}

	body {
		
	}

hr {
	width: 100%;
	height:1px;
	color: #ccc;
	background-color: #ccc;
	padding:0px;
	margin-top:15px; 
}
/* Styles Part 01 - Desktop Screen Styles */

/* Part 01 Section 00.0 Modal Styles */


:focus { 
  outline: 0 !important;
}

.modal-header {
	background-color:#4430d6;
	font-family: discovery-bold;
	color:#fff;
}

.modal-button {
	background-color: #4430d6;
	font-family:discovery-bold;
	color:#fff;
}

.modal-close {
	color:#fff;
}

/* Master Container - adds background color and zeros out margins and padding */
.participant-detail {
		background-color: #fff;
		margin: 0px;
		padding: 0px;
}

/* Part 01 Section 01.0 Header Styles */
		.participant-detail-fixed-header {
		position: fixed;
		top: 0;
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 140px;
	}
	
	/* Section 01.1 Header Bar Styles*/
		.page-header {
			height: 60px;
			width: 100%;
			margin: 0px;
			padding: 0px;
			background-color: #ccc;
			border-bottom: solid #4032ce 3px;
			width: 100%;
		}

			.logo-box {
				height:60px;
				display:flex;
				align-items: center;
			}

			.logo {
				height:40px;
			}

			.pep {
				height: 40px;
				margin:20px;
			}

			.header-controls-box {
				height: 60px;
				display:flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: flex-end;
				}
			
			.search-button-disabled {
				background-image: url(../svg/search_icon.svg);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-color: #ccc;
				height: 40px;
				width: 40px;
				border: 0px;
				margin-left: 10px;
				}

			.patient-information-male-button-disabled {
				background-image: url(../svg/user_male_icon.svg);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-color: #ccc;
				height: 40px;
				width: 40px;
				border: 0px;
				margin-left: 10px;
				}

			.help-button-disabled {
				background-image: url(../svg/help_icon.svg);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-color: #ccc;
				height: 40px;
				width: 40px;
				border: 0px;
				margin-left: 10px;
				}

			.download-button-disabled {
				background-image: url(../svg/download_icon.svg);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-color: #ccc;
				height: 40px;
				width: 40px;
				border: 0px;
				margin-left: 10px;
				}

			.print-button-disabled {
				background-image: url(../svg/print_icon.svg);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-color: #ccc;
				height: 40px;
				width: 40px;
				border: 0px;
				margin-left: 10px;
				}

			.header-icon {
				height:40px;
				margin-left: 10px;
			}
	
	/* Section 01.2 Date Range & Timeline Controls Styles */
		.time-widget {
			height: 80px;
			width: 100%;
			margin: 0px;
			padding: 0px;
		}

		.calendar-daterange-box {
			height:80px;
			display:flex;
			align-items: center;
		}

		.calendar {
			height:40px;
		}

		.calendar-button-disabled {
				background-image: url(../svg/calendar_icon.svg);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-color: #fff;
				height: 40px;
				width: 40px;
				border: 0px;
				}

		.date-range {
			margin-left: 20px;
			font-family:discovery-regular;
			font-size: 16px;
			color: #4430d6;
		}

		.timeline-controls {
		display:flex;
		flex-direction: column;
			margin: 0px;
			padding: 0px;
}

		.timeline-reference-box {
			display:flex;
			flex-direction: row;
			width:100%;
			margin: 0px;
			padding: 0px;
			}		

		.timeline-years {
			border-bottom: #000 solid 1px;
			border-left: #000 solid 1px;
			margin-top: 10px;
			padding-left: 10px;
			font-family: discovery-regular;
			font-size: 12px;
			width:10%;
		}

		.timeline-selection-box {
	width:100%;
}

/* Part 01 Section 02.0 Content Styles */
	.participant-detail-categories-and-providers {
		margin-top: 140px;
		padding-left: 20px;
}
	
	/* Categories Subsection Styles */
		.categories {
			width: 100%;	
		}

		.category-rollup {
			margin: 0px;
			height: 42px;
			}

		.category-rollup-nav-enabled {
			background-color: #0082ca;
			text-align: center;
			color: #fff;
			font-family:discovery-bold;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			height: 42px;
			background-image: url(../svg/arrow-down-icon.svg);
			background-position: 8px 8px;
			background-repeat: no-repeat;
			background-size: 25px 25px;
			}

		.category-rollup-nav-disabled {
			background-color: #0082ca;
			text-align: center;
			color: #fff;
			font-family:discovery-bold;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			height: 42px;
			background-image: url(../svg/arrow-right-icon.svg);
			background-position: 8px 8px;
			background-repeat: no-repeat;
			background-size: 25px 25px;
			}

		.category {
			margin: 0px;
			height: 42px;
			}

		.category-nav {
			border-left:2px solid #0082ca;
			border-right:2px solid #0082ca;
			text-align:center;
			padding-top: 0px;
			padding-bottom: 0px;
			margin:0px;
			height: 42px;
			}

		
		.category-button-disabled {
			width:100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0px;
			margin-bottom: 0px;
			border:2px solid #0082ca;
			border-radius: 25px;
			font-family:discovery-regular;
			color:#0082ca;
			box-shadow: none;
}

		.category-button-enabled {
			width:100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0px;
			margin-bottom: 0px;
			border:2px solid #0082ca;
			border-radius: 25px;
			background-color: #0082ca;
			font-family:discovery-bold;
			color:#fff;
			box-shadow: none;
}

		.button-bottom {
			margin-bottom: 10px;
			}

		.button-bottom-enabled {
			margin-left: auto;
			margin-right: auto;
			margin-top: 0px;
			margin-bottom: 0px;
			border:2px solid #0082ca;
			border-radius: 25px;
			background-color: #0082ca;
			font-family:discovery-bold;
			color:#fff;
			box-shadow: none;
}

		.button-top {
			margin-top: 15px;
			margin-bottom: 20px;
			}

		.category-rollup-svg {
			padding:0px;
			margin: 0px; 
			}

		.category-svg {
			padding:0px;
			margin: 0px; 
			}
	
	/* Spacer Row Styles */
		.left-column-spacer {
			border-top:2px solid #0082ca;
			margin: 0px;
			}
	

	/* Provider Subsection Styles */
		.providers {
			width: 100%;
			margin-top:20px;
			}

		.provider-rollup {
			margin:0px;
			}

		.provider-rollup-nav-enabled {
			background-color: #0082ca;
			text-align: center;
			color: #fff;
			font-family:discovery-bold;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin:0px;
			background-image: url(../svg/arrow-down-icon.svg);
			background-position: 8px 8px;
			background-repeat: no-repeat;
			background-size: 25px 25px;
			}

		.provider-rollup-nav-disabled {
			background-color: #0082ca;
			text-align: center;
			color: #fff;
			font-family:discovery-bold;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin:0px;
			background-image: url(../svg/arrow-right-icon.svg);
			background-position: 8px 8px;
			background-repeat: no-repeat;
			background-size: 25px 25px;
			}

		.provider-rollup-svg {
			padding:0px;
			}

		.provider {
			margin:0px;
			}

		.provider-nav {
			border-left:2px solid #0082ca;
			border-right:2px solid #0082ca;
			text-align:center;
			padding-top: 0px;
			padding-bottom: 0px;
			margin:0px;
			}

		.provider-button-disabled {
			width:100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
			margin-bottom: 5px;
			border:2px solid #0082ca;
			border-radius: 25px;
			font-family:discovery-regular;
			color:#0082ca;
			box-shadow: none;
}

		.provider-button-enabled {
			width:100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
			margin-bottom: 5px;
			border:2px solid #0082ca;
			border-radius: 25px;
			background-color: #0082ca;
			font-family:discovery-bold;
			color:#fff;
			box-shadow: none;
}


		.provider-button-top {
			width:100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			margin-bottom: 5px;
			border:2px solid #0082ca;
			border-radius: 25px;
			font-family:discovery-regular;
			color:#0082ca;
			box-shadow: none;
}

		.provider-button-top:active {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			margin-bottom: 5px;
			border:2px solid #0082ca;
			border-radius: 25px;
			background-color: #0082ca;
			font-family:discovery-bold;
			color:#fff;
			box-shadow: none;
}

		.provider-button-top:focus {
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			margin-bottom: 5px;
			border:2px solid #0082ca;
			border-radius: 25px;
			background-color: #0082ca;
			font-family:discovery-bold;
			color:#fff;
			box-shadow: none;
}

		.provider-button-bottom {
			width:100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
			margin-bottom: 10px;
			border:2px solid #0082ca;
			border-radius: 25px;
			font-family:discovery-regular;
			color:#0082ca;
			box-shadow: none;
}

		.provider-button-bottom:active {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
			margin-bottom: 10px;
			border:2px solid #0082ca;
			border-radius: 25px;
			background-color: #0082ca;
			font-family:discovery-bold;
			color:#fff;
			box-shadow: none;
}

		.provider-button-bottom:focus {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
			margin-bottom: 10px;
			border:2px solid #0082ca;
			border-radius: 25px;
			background-color: #0082ca;
			font-family:discovery-bold;
			color:#fff;
			box-shadow: none;
}

		.provider-svg {
			padding:0px;
			}

/* SECTION BREAK - Footer Section Styles */
	.page-footer {
    height: 60px;
	background-color: #ccc;
	border-top: solid #4032ce 3px;
}


/* Part 01 Section 03.0 Footer Styles */
.data-panel-controls {
	height: 60px;
	width:60px;
	background-color:#4430d6;
	color:#fff;
	font-size: 18px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.pep-data-panel-button-disabled {
	height: 40px;
	width: 40px;
	border: 0px; 
	background-image: url(../svg/pep_icon_off.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-position: 0 0;
	background-color:#ccc;
	margin-left: 20px;
}

.arrow-button-up {
	height: 20px;
	width: 20px;
	border: 0px; 
	background-image: url(../svg/arrow-up-icon.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 0 0;
	background-color:#4430d6;
}

.arrow-button-down {
	height: 20px;
	width: 20px;
	border: 0px;
	background-image: url(../svg/arrow-down-icon.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-color:#4430d6;
}

/* Part 02 Styles for tablet screens.Target resolution - 1366px x 768px. */
		@media screen and (max-width: 992px){
	
}

/* Part 03 Styles for smartphones screens.Target resolution - 640px x 360px. */
		@media screen and (max-width: 640px){
	
}