@charset "UTF-8";

/* Sync for Science Discovery Container Stylesheet 03 */
/* v.03.31 Updated 11/14/2018 */
	
/* Global Elements */

body {
	width:100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color:white;
	overflow:hidden;
}

button:focus {
	outline: none;
}

/* Fonts */
@font-face {
	font-family:'discovery-regular';
	src: url('../fonts/GothamBook.otf');
	format:('opentype');
}
	
@font-face {
	font-family:'discovery-bold';
	src: url('../fonts/Gotham-Bold.otf');
	format:('opentype');
}

@font-face {
	font-family:'discovery-data';
	src: url('../fonts/SourceCodePro-Medium.ttf');
	format:('truetype');
}

@font-face {
	font-family:'discovery-data-bold';
	src: url('../fonts/SourceCodePro-Bold.ttf');
	format:('truetype');
}

@font-face {
	font-family:'discovery-data-text';
	src: url('../fonts/PragmaticaBook.otf');
	format:('truetype');
}

/* Inserts 
.category-button {
		display:flex;
		justify-content: center;
		height: auto;
		width:160px;
		max-width:160px;
		margin:3px auto;
		border:1px solid var(--category);
		border-radius:20px;
		padding:4px 0;
 		font-size:0.813rem;
		white-space: nowrap;
		cursor: pointer;
}
*/