@charset "UTF-8";

/* Sync for Science Discovery Container Stylesheet 03 */
/* v.03.21 Updated 07/23/2018 */

/* SECTION 00.00 – Global Styles */

/* 00.01 – Root Elements */
:root {
	--discovery-background:rgba(255,255,255,1.0);
	--discovery-black:rgba(0,0,0,1.0);
	--discovery-gray:rgba(167,168,170,1.0);
	--discovery-blue:rgba(0,26,114,1.0);
	--discovery-category:rgba(1,166,170,1.0);
	--discovery-category-label-light:rgba(255,255,255,1.0);
	--discovery-category-label-dark:rgba(1,166,170,1.0);
	--discovery-provider:rgba(1,166,170,1.0);
	--discovery-provider-label-light:rgba(255,255,255,1.0);
	--discovery-provider-label-dark:rgba(1,166,170,1.0);
	--discovery-dots-active:rgba(1,166,170,0.7);
	--discovery-dots-active-stroke:rgba(255,255,255,1.0);
	--discovery-dots-inactive:rgba(176,176,176,0.6);
	--discovery-dots-inactive-stroke:rgba(255,255,255,1.0);
	--discovery-dots-highlight:rgba(1,166,170,1.0);
	--discovery-dots-highlight-stroke:rgba(255,255,255,1.0);
	--discovery-dots-highlight-ring:rgba(1,166,170,0.0);
	--discovery-dots-highlight-ring-stroke:rgba(1,166,170,1.0);
	--discovery-modal-shadow:rgba(0,0,10,0.25);
	--discovery-data:rgba(50,50,250,1.00);
}

@font-face {
	font-family:'discovery-regular';
	src: url('../fonts/GothamBook.otf');
	format:('opentype');
}
	
@font-face {
	font-family:'discovery-bold';
	src: url('../fonts/Gotham-Bold.otf');
	format:('opentype');
}

@font-face {
	font-family:'discovery-data';
	src: url('../fonts/Letter-Gothic-Std-Bold.ttf');
	format:('truetype');
}

button:focus {
	outline: none;
}

/* 00.02 – Structure */
body {
	width:100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: var(--discovery-background);
	overflow:hidden;
}