@charset "UTF-8";

/* Sync for Science Discovery ViewContainer Stylesheet */

/* v.01.09 Updated 10/07/2019 */

.view-container {
  position: fixed;
  top: 146px;
  left: 160px;
  width: calc(100% - 170px);
  min-width: 840px;
  height: calc(100% - 200px);
  margin: 0;
}

.view-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 38px;
  min-height: 38px;
  font-family: data-text;
  font-size: 1rem;
  color: var(--label-white);
  background-color: var(--background-header-content);
  padding: 0 20px 0 0;
}

.view-title-name {
  font-family: header-bold;
  font-size: 1rem;
  color: var(--label-white);
  margin: 0;
}

.view-title-patient-name {
  font-family: header-bold;
  font-size: 1.2rem;
  color: var(--label-white);
  white-space: nowrap;
  margin-left: 35px;
}

.view-contents {
  position: fixed;
  top: 196px;
  left: 160px;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 196px - 20px - 15px);
  max-height: calc(100% - 196px - 20px - 15px);
  width: calc(100% - 170px);
  min-width: calc(100% - 170px);
  max-width: calc(100% - 170px);
  background-color: var(--background-content);
  padding: 20px 0 0 0;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-x: hidden;
}
