@charset "UTF-8";

/* Sync for Science Discovery DiscoveryApp Stylesheet */
/* v.01.05 Updated 5/13/2018 */

body {
	width: 100%;
	font-size: 16px;
	background-color: var(--white-100);
   padding: 0;
   margin: 0;
	overflow: hidden;
}

button:focus {
	outline: none;
}

.discovery-app {
   position: fixed;
   top: 0;
   left: 0;
   z-index: -10;
   height: 100%;
   width: 100%;
	min-width: 1024px;
   background-color: var(--white-100);
   padding: 0;
   margin: 0;
   overflow-x: auto;
}

.longitudinal-view-icon {
   height: 50px;
   min-width: 50px;
   background-image: url("../../svg/view-icon-report-on.svg");
   background-repeat: no-repeat;
   background-position: 0px center;
   background-size: 35px 35px;
}

.benefits-view-icon {
   height: 50px;
   min-width: 50px;
   background-image: url("../../svg/view-icon-benefits.svg");
   background-repeat: no-repeat;
   background-position: 0px center;
   background-size: 35px 35px;
}

.consult-view-icon {
   height: 50px;
   min-width: 50px;
   background-image: url("../../svg/view-icon-consult.svg");
   background-repeat: no-repeat;
   background-position: 0px center;
   background-size: 35px 35px;
}
