@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';

/* Sync for Science Discovery ParticipantListItem Stylesheet */
/* v.01.10 Updated 11/16/2018 */

.participant-list-item {
	font-family: discovery-regular;
	font-size:1.000rem;
}

.participant-list-item-flagged {
	height: auto;
	width:18px;
	min-width:18px;
	font-family: discovery-regular;
	font-size: 1.000rem;
	text-align: center;
	padding:0;
	grid-column:1;
	white-space:nowrap;
}

.participant-list-item-link {
	height: auto;
	width:286px;
	min-width:286px;
	font-family: discovery-regular;
	font-size:1.000rem;
	padding:0;
	grid-column:2;
	white-space:nowrap; 
}

.participant-list-item-gender {
	height: auto;
	width:80px;
	min-width:80px;
	font-family:discovery-regular;
	font-size:1.000rem;
	text-align:center;
	padding:0;
	grid-column:3;
	white-space:nowrap;
}

.participant-list-item-dob {
	height:auto;
	width:116px;
	min-width:116px;
	font-family:discovery-data;
	font-size:1.000rem;
	text-align:center;
	padding:0;
	grid-column:4;
	white-space:nowrap;
}

.participant-list-item-dates {
	height:auto;
	width:116px;
	min-width:116px;
	font-family:discovery-data;
	font-size:1.000rem;
	text-align: center;
	padding:0 5px;
	grid-column:5;
	white-space:nowrap;
}

.participant-list-item-providers {
	height:auto;
	width:98px;
	min-width:98px;
	font-family:discovery-data;
	font-size:1.000rem;
	text-align:center;
	padding:0;
	grid-column:6;
	white-space:nowrap;
}

.participant-list-item-values {
	height:auto;
	width:77px;
	min-width:77px;
	font-family:discovery-data;
	font-size:1.000rem;
	text-align:right;
	padding:0;
	grid-column:7;
	white-space:nowrap;
}

a:link {
	color:var(--blue-dark);
	text-decoration: none;
}

a:hover {
	color:var(--blue-dark);
	text-decoration:underline;
}