@charset "UTF-8";

/* Sync for Science Discovery ParticipantListItem Stylesheet */
/* v.01.12 Updated 5/13/2019 */

.participant-list-item {
	font-family: text;
	font-size: 1.000rem;
}

.participant-list-item-flagged {
	grid-column: 1;
   height: auto;
	width: 18px;
	min-width: 18px;
	font-family: text;
	font-size: 1.000rem;
	text-align: center;
	padding: 0;
	white-space: nowrap;
}

.participant-list-item-link {
	grid-column: 2;
   height: auto;
	width: 286px;
	min-width: 286px;
	font-family: text;
	font-size: 1.000rem;
	padding: 0;
	white-space: nowrap; 
}

.participant-list-item-gender {
	grid-column: 3;
   height: auto;
	width: 80px;
	min-width: 80px;
	font-family: text;
	font-size: 1.000rem;
	text-align: center;
	padding: 0;
	white-space: nowrap;
}

.participant-list-item-dob {
	grid-column: 4;
   height: auto;
	width: 116px;
	min-width: 116px;
	font-family: text;
	font-size: 1.000rem;
	text-align: center;
	padding: 0;
	white-space: nowrap;
}

.participant-list-item-dates {
	grid-column: 5;
   height: auto;
	width: 116px;
	min-width: 116px;
	font-family: text;
	font-size: 1.000rem;
	text-align: center;
	padding: 0 5px;
	white-space: nowrap;
}

.participant-list-item-providers {
	grid-column: 6;
   height: auto;
	width: 98px;
	min-width: 98px;
	font-family: data-text;
	font-size: 1.000rem;
	text-align: center;
	padding: 0;
	white-space: nowrap;
}

.participant-list-item-values {
	grid-column: 7;
   height: auto;
	width: 77px;
	min-width: 77px;
	font-family: data-text;
	font-size: 1.000rem;
	text-align: right;
	padding: 0;
	white-space: nowrap;
}

a:link {
	color: var(--primary-100);
	text-decoration: none;
}

a:hover {
	color: var(--primary-100);
	text-decoration: underline;
}