@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';

/* Sync for Science Discovery Search Stylesheet */
/* v.01.08 Updated 11/14/2018 */

.search {
   position:relative;
   display:flex;
   flex-direction:row;
   height:40px;
	width:30%;
   align-items:center;
   margin:12px 0 0 0;
}

.search-button {
   height:40px;
   width:40px;
   padding:0;
   margin:0 5px;
   background-color:transparent;
   background-image:url(../../svg/icon-search-off.svg);
   background-position:0 0;
   background-repeat:no-repeat;
   border:0;
   cursor:pointer;
}

.search-button-cancel {
   height:40px;
   width:40px;
   padding:0;
   margin:0 5px;
   background-color:transparent;
   background-image:url(../../svg/icon-search-cancel.svg);
   background-position:0 0;
   background-repeat:no-repeat;
   border:0;
   cursor:pointer;
}

.search-input {
   width:200px;
   margin:0;
   border:1px solid var(--blue-dark);
	padding:0 0 0 5px;
   outline: none;
}

.search-status {
   width:80px;
   height:20px;
   padding:2px 0;
   margin:5px 60px 0 0;
   background-color:transparent;
   font-family:discovery-data-bold;
   font-size:0.800rem;
   color:var(--blue);
	text-align:right;
   white-space:nowrap;
}

.search-results {
   position:absolute;
   top:27px;
   left:50px;
	width:195px;
   background-color:var(--white);
   border-top:1px solid var(--gray-medium);
   border-right:1px solid var(--blue-dark);
   border-bottom:1px solid var(--blue-dark);
   border-left:1px solid var(--blue-dark);
   padding:5px;
   font-family:discovery-regular;
   font-size:0.800rem;
   overflow:auto;
   overflow-x:hidden;
   max-height:300px;
}

.search-results-empty {
   position:absolute;
   top:27px;
   left:50px;
   z-index:2;
   width:195px;
   background-color:var(--white);
   border-top:1px solid var(--gray-medium);
   border-right:1px solid var(--blue-dark);
   border-bottom:1px solid var(--blue-dark);
   border-left:1px solid var(--blue-dark);
   padding:5px;
   font-family:discovery-regular;
   font-size:0.800rem;
   color:var(--gray-medium);
 }

.search-results-element:hover {
   cursor:pointer;
   background-color:var(--gray-medium);
	opacity:0.4;
}

.search-data {
   white-space:pre-wrap;
}