@charset "UTF-8";

/* Sync for Science Discovery Search Stylesheet */
/* v.01.20 Updated 6/26/2019 */

.search {
   position: relative;
   display: flex;
	flex-direction: row;
   justify-content: flex-end;
   align-items: center;
/* height: 40px; */
   height: 46px;
   width: auto;
/* padding: 0 10px 0 0;
   border-right: solid 1px var(--white-075); 
   margin: 10px 0 0 auto; */
   padding: 0;
   margin: 0 0 0 auto;
}

.search-buttons {
/* height: 40px;
   width: 40px;
   min-width: 40px; */
   height: 46px;
/* width: 46px;
   min-width: 46px; */
   width: 16px;
   min-width: 16px;
   background-color: transparent;
   background-position: center center;
   background-repeat: no-repeat;
/* background-size: 30px 30px; */
   background-size: 16px 16px;
   padding: 0;
   border: 0;
   margin: 0 0 0 10px;
   cursor: pointer;
}

.search-button {
   @insert search-buttons;
   background-image: url("../../svg/search-button.svg");
}

.search-button-cancel {
   @insert search-buttons;
   background-image: url("../../svg/search-button-cancel.svg");
}

.search-laser-button-on {
	@insert search-buttons;
	background-image: url("../../svg/search-button-laser-on2.svg");
}

.search-laser-button-off {
	@insert search-buttons;
	background-image: url("../../svg/search-button-laser-off2.svg");
}

.search-input {
   height: 20px;
   max-height: 20px;
   width: 60%;
   min-width: 208px;
   font-family: data-text;
   font-size: .750rem;
   padding: 0 0 0 5px;
/* border: 1px solid var(--white-075);
   margin: 0 10px 0 0; */
   border: none;
   background-color: var(--white-100);
   margin: 13px 0;
   outline: none;
}

.search-status {
   height: 20px;
   max-height: 20px;
   width: auto;
   min-width: 70px; 
   font-family: data-text;
   font-size: .750rem;
   color: var(--white-100);
   text-align: left;
   vertical-align: middle;
   line-height: 20px;
   background-color: transparent;
   padding: 0;
   margin: 13px 0 13px 10px;
   white-space: nowrap;
}

.search-results {
   position: absolute;
   top: 37px;
/* left: -0.5px; */
   left: 0;
/* max-height: 300px; */
   max-height: 130px;
/* width: 204.5px; */
   width: calc(60% + 5px);
   font-family: data-text;
   font-size: .900rem;
   color: var(--blue-medium-100);
   background-color: var(--white-100);
/* padding: 5px;
   border-top:1px solid var(--gray-medium-100);
   border-right:1px solid var(--primary-100);
   border-bottom:1px solid var(--primary-100);
   border-left:1px solid var(--primary-100); */
   padding: 0 0 0 0;
   border: 1px solid var(--blue-medium-100);
   overflow: auto;
   overflow-x: hidden;
}

.search-results-empty {
   position: absolute;
   top: 37px;
/* left: -0.5px; */
   left: 0;
   z-index: 2;
/* width: 204.5px; */
   width: 60%;
   font-family: text;
   font-size: 1.000rem;
   color: var(--gray-medium-100);
   background-color: var(--white-100);
   padding: 5px;
   border-top: 1px solid var(--gray-medium-100);
   border-right: 1px solid var(--primary-100);
   border-bottom: 1px solid var(--primary-100);
   border-left: 1px solid var(--primary-100);
 }

.search-results-element {
   height: 22px;
   width: auto;
   font-family: data-text;
   line-height: 22px;
   color: var(--blue-medium-100);
   padding: 0 0 0 5px;
}

.search-results-element:hover {
   color: var(--white-100);
   background-color: var(--blue-medium-100);
   cursor: pointer;
/* opacity: 0.4; */
}

.search-data {
   white-space: pre-wrap;
}