@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';

@import '../../css/ViewContainer.css';
@import '../../css/Fonts.css';
@import '../../css/Colors.css';
@import '../ContentPanel/ContentPanelCategories.css';


/* Sync for Science Discovery SummaryView Stylesheet */
/* v.01.11 Updated 03/26/2019 */


.default-view {
   position: fixed;
   top: 62px;
   left: 214px;
   width: calc(100% - 234px);
   height: calc(100%);
}

.timeline-placeholder {
	height: 80px;
	width: 100%;
	background-image: url("../../png/timeline-background-01.png");
	background-repeat: repeat-x;
	border-top: 2px solid var(--white-100);
	border-bottom: 2px solid var(--white-100);
}

.default-view-title {
	display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:flex-start;
   width: calc(100% - 90px);
   height: 50px;
   min-height: 50px;
   font-family: data-text;
   font-size: 1.000rem;
   color: var(--white-100);
   background-color: var(--primary-100);
	background-image: url("../../svg/view-icon-overview-on.svg");
	background-repeat: no-repeat;
	background-position: 20px 8px;
	background-size: 35px 35px;
   padding: 0 20px 0 70px;
	border-top: 2px solid var(--accent-100);
}

.default-view-title-name {
	font-family: header-bold;
   font-size: 1.000rem;
	color: var(--white-100);
	margin: 0;
}

.default-view-container {
	height: calc(100% - 223px);
   padding: 20px 20px 0 20px;
	border-left: 2px solid var(--primary-100);
	border-right: 2px solid var(--primary-100);
	border-bottom: 2px solid var(--primary-100);
	margin: -20px 0 0;
}

.default-body-row {
   display: flex;
   flex-direction: row;
   flex-basis: auto;
}

.default-body-property {
	width: 250px;
	min-width: 250px;
   font-family: text;
	font-size: 1.000rem;
	text-align: left;
	margin: 0 0 0 20px;
}

.default-body-value {
   height: auto;
   width: auto;
   font-family: data-text;
   font-size: 1.000rem;
   text-align: left;
}

.default-providers-container {
	display: grid;
	width: 600px;
	margin: 10px 0 0 0;
}

.default-providers-name {
	grid-column: 1;
	width: 250px;
	font-family: data-text-medium;
   font-size: 1.000rem;
   text-align: left;
	margin: 0 0 0 20px;
	white-space: nowrap;
}

.default-providers-count {
	grid-column: 2;
	width: auto;
	font-family: data-number;
   font-size: 1.000rem;
   text-align: left;
   color: var(--data-text);
	margin: 3px 0 0 0;
	white-space: nowrap;
}

.default-providers-label1 {
	grid-column: 3;
	width: auto;
	font-family: data-text;
   font-size: 1.000rem;
   text-align: center;
	margin: 0 0 0 5px;
	white-space: nowrap;
}

.default-providers-min-date {
	grid-column: 4;
	width:auto;
	font-family: data-text;
   font-size: 1.000rem;
   text-align: right;
   color: var(--data);
	margin: 3px 0 0 20px;
	white-space: nowrap;
}

.default-providers-label2 {
	grid-column: 5;
	width: 10px;
	font-family: data-text;
   font-size: 1.000rem;
   text-align: center;
   padding: 0 5px;
	white-space: nowrap;
}

.default-providers-max-date {
	grid-column: 6;
	width: auto;
	font-family: data-number;
   font-size: 1.000rem;
   text-align: left;
   color: var(--data);
	margin: 3px 0 0 5px;
	white-space: nowrap;
}

.default-data-owner-title {
	width:100%;
   font-family: header-bold;
   color: var(--primary-100);
	border-bottom: solid 1px var(--primary-100);
	margin:20px 0 10px 0;
}

.default-providers-title {
	width: 100%;
   font-family: header-bold;
	border-bottom: solid 1px var(--primary-100);
	margin: 20px 0 0 0;
}

.default-providers-mrn {
	grid-column: 1;
   font-family: text-italic;
   font-size: .800rem;
	text-align: left;
   color: var(--data);
	margin: 0 0 10px 20px;
}