@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Allergies Stylesheet */
/* v.01.18 Updated 11/26/2018 */

.allergies-display {
	@insert .content-panel-display;
}

.allergies-clinical-status-label {
	@insert .label;
	width:132px;
	padding:5px 0 0 0;
	grid-column:1;
}

.allergies-clinical-status-value {
	@insert .value;
	grid-column:2;
}

.allergies-verification-status-label {
	@insert .label;
	width:132px;
	padding:5px 0 0 0;
	grid-column:1;
}

.allergies-verification-status-value {
	@insert .value;
	grid-column:2;
}

.allergies-type-label {
	@insert .label;
	padding:6px 0 0 0;
	grid-column:3;
}

.allergies-type-value {
	@insert .value;
	grid-column:4;
}

.allergies-category-label {
	@insert .label;
	padding:6px 0 0 20px;
	grid-column:1;
}

.allergies-category-value {
	@insert .value;
	grid-column:2;
}

.allergies-criticality-label {
	@insert .label;
	padding:6px 0 0 0;
	grid-column:3;
}

.allergies-criticality-value {
	@insert .value;
	grid-column:4;
}

.allergies-substance-label {
	@insert .label;
	padding:6px 0 0 0;
	grid-column:1;
}

.allergies-substance-value {
	@insert .value;
	grid-column:2;
}

.allergies-reaction-label {
	@insert .label;
	padding:6px 0 0 0;
	grid-column:3;
}

.allergies-reaction-value {
	@insert .value;
	grid-column:4;
}
