@charset "UTF-8";

/* Sync for Science Discovery Allergies Stylesheet */
/* v.01.10 Updated 10/08/2018 */

.allergies-display {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column: 1/span 40;
}

.allergies-clinical-status-label {
	height: auto;
	width:132px;
	font-family:discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column: 1;
}

.allergies-clinical-status-value {
	height: auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.allergies-verification-status-label {
	height:auto;
	width:132px;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align:right;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:1;
}

.allergies-verification-status-value {
	height: auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.allergies-type-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align:right;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:3;
}

.allergies-type-value {
	height: auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:4;
}

.allergies-category-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align:right;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 20px;
	grid-column:1;
}

.allergies-category-value {
	height: auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.allergies-criticality-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align:right;
	color:var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 0;
	grid-column:3;
}

.allergies-criticality-value {
	height: auto;
	width:auto;
	font-family:discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color:var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:4;
}