@charset "UTF-8";

/* Sync for Science Discovery BenefitsView Stylesheet */
/* v.01.05 Updated 04/12/2019 */

.benefits-view-icon {
   height: 50px;
   min-width: 50px;
   background-image: url("../../svg/view-icon-benefits.svg");
   background-repeat: no-repeat;
   background-position: 0px center;
   background-size: 35px 35px;
}
