@charset "UTF-8";

/* Sync for Science Discovery Provider Stylesheet */
/* v.01.04 Updated 08/20/2018 */

.provider {
	display:flex;
	flex-direction:row;
	height:2.250rem;
	width:100%;
	margin:0;
	padding:0;
}

.provider-nav {
	display:flex;
	justify-content:center;
	height:auto;
	width:15.375rem;
	min-width:15.375rem;
	margin:0;
	border-right:0.125rem solid var(--discovery-provider);
	border-left:0.125rem solid var(--discovery-provider);
	padding: 0;
	text-align:center;
}

.provider-button-enabled {
	display:flex;
	justify-content:center;
	height:auto;
	min-width:80%;
	max-width:98%;
	margin:0.313rem auto;
	border:0.125rem solid var(--discovery-provider);
	border-radius:1.563rem;
	padding:0.125rem 0;
	background-color:var(--discovery-provider);
	font-family:discovery-bold;
	font-size:inherit;
	color:var(--discovery-provider-label-light);
	white-space:nowrap;
	cursor:pointer;
}

.provider-button-disabled {
	display:flex;
	justify-content:center;
	height:auto;
	min-width:80%;
	max-width:98%;
	max-resolution:0.313rem; 
	margin:0.313rem auto;
	border:0.125rem solid var(--discovery-provider);
	border-radius:1.563rem;
	padding:0.125rem 0;
	background-color:var(--discovery-background);
	font-family:discovery-regular;
	font-size:inherit;
	color:var(--discovery-provider-label-dark);
	white-space:nowrap;
	cursor:pointer;
}

.provider-svg-container {
	display:flex;
	justify-content:center;
	align-items:center;
	height:inherit;
	width:100%;
	margin:0;
	padding:0 0.313rem 0 0.313rem;
	background-image:url(../../svg/horizontal-rule-1px-black.svg);
	background-position:center;
	background-repeat:repeat-x;
	background-clip:padding-box;
	overflow:hidden;
}

.provider-svg {
	height:inherit;
	overflow: visible;
}