.provider-nav {
/*    width:20%;
    height:23px;
    margin-top:1px;
    border:1.5px solid black;
    float:left; */
    cursor: pointer;
}

.provider-svg {
/*    width:80%;
    height:23px;
    margin-top:1px;
    float:right; */
    height:42px;
}