@charset "UTF-8";

/* Sync for Science Discovery Conditions Stylesheet */
/* v.01.08 Updated 10/08/2018 */

.conditions-display {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:1/span 40;
}

.conditions-clinical-status-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 15px;
	grid-column:1;
}

.conditions-clinical-status-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	color: var(--discovery-data);
	text-align: left;
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.conditions-verification-status-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:6px 0 0 15px;
	grid-column:1;
}

.conditions-verification-status-value {
	height:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	color: var(--discovery-data);
	text-align: left;
	white-space: nowrap;
	padding:0;
	grid-column:2;
}