@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Conditions Stylesheet */
/* v.01.14 Updated 12/26/2018 */

.conditions-display {
	@insert .content-panel-display;
}

.conditions-clinical-status-label {
	@insert .label;
	padding:6px 0 0 15px;
	grid-column:1;
}

.conditions-clinical-status-value {
	@insert .value;
	grid-column:2;
}

.conditions-verification-status-label {
	@insert .label;
	padding:6px 0 0 15px;
	grid-column:1;
}

.conditions-verification-status-value {
	@insert .value;
	grid-column:2;
}