@charset "UTF-8";

/* Sync for Science Discovery Conditions Stylesheet */
/* v.01.05 Updated 08/29/2018 */

.conditions-header {
	margin:0.625rem 1.250rem;
	border-bottom: 0.063rem solid var(--discovery-blue);
	font-family: discovery-bold;
	font-size:1.000rem;
	color: var(--discovery-blue);
}

.conditions-body {
	margin:0 1.250rem;
}

.conditions-container {
	display:grid;
	grid-template-columns:repeat(40, minmax(min-content, 1fr));
	grid-column-gap: 0.313rem;
	border-bottom:0.063rem solid var(--discovery-data-divider);
	padding:0 0 0.313rem 0;
	margin:0 0 0.625rem 0;
}

.conditions-container-last {
	display:grid;
	grid-template-columns:repeat(40, minmax(min-content, 1fr));
	grid-column-gap: 0.313rem;
	border-bottom:0.063rem solid var(--discovery-background);
	padding:0 0 0.313rem 0;
	margin:0 0 0.625rem 0;
}

.conditions-display {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	text-align: left;
	color: var(--discovery-data);
	white-space: nowrap;
	padding:0;
	grid-column:1/span 40;
}

.conditions-clinical-status-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:0.375rem 0 0 0.938rem;
	grid-column:1;
}

.conditions-clinical-status-value {
	height:auto;
	width:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	color: var(--discovery-data);
	text-align: left;
	white-space: nowrap;
	padding:0;
	grid-column:2;
}

.conditions-verification-status-label {
	height:auto;
	width:auto;
	font-family: discovery-regular;
	font-size:0.800rem;
	text-align: right;
	color: var(--discovery-data-label);
	white-space: nowrap;
	padding:0.375rem 0 0 0.938rem;
	grid-column:1;
}

.conditions-verification-status-value {
	height:auto;
	font-family: discovery-data-text;
	font-size:1.200rem;
	color: var(--discovery-data);
	text-align: left;
	white-space: nowrap;
	padding:0;
	grid-column:2;
}