@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Benefits Stylesheet */
/* v.01.07 Updated 3/13/2019 */

.benefits-billable-label {
   @insert .label;
   text-align: right;
   padding:4px 0 0 0;   
   grid-column:1;
}

.benefits-billable-value {
   @insert .value;
   font-family: discovery-data;
   width:auto;
   padding:0;
   grid-column:2/span 2;
}

.benefits-billable-value-separator {
   @insert .label;
   width:auto;
   text-align: center;
   padding:4px 0 0 0; 
   grid-column:4;
}

.benefits-billable-value2 {
   @insert .value;
   font-family: discovery-data;
   width:auto;
   grid-column:5/span 7;
}

.benefits-claim-type-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.benefits-claim-type-value {
   @insert .value;
	display:flex;
   height:auto;
	flex-direction: row;
	flex-wrap: wrap;
   white-space: normal;
   grid-column:2/span 12;
   margin-bottom: 5px;
}

.benefits-cost-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.benefits-cost-value {
   @insert .value;
   width:auto;
   font-family: discovery-data;
   text-align: left;
   grid-column:2;
}

.benefits-cost-currency {
   @insert .label;
   text-align: left;
   padding:4px 0 0 0;
   grid-column:3;
}

.benefits-benefit-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.benefits-benefit-value {
   @insert .value;
   width: auto;
   font-family: discovery-data;
   text-align: right;
   grid-column:2;
}

.benefits-benefit-currency {
   @insert .label;
   text-align: left;
   padding:3px 10px 0 0; 
   grid-column:3;
}

.benefits-contained-label-main {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.benefits-contained-label-sub1 {
   @insert .label;
   padding:4px 0 0 0; 
   text-align: right;
   grid-column:1;
}

.benefits-contained-label-sub2 {
   @insert .label;
   padding:4px 0 0 0; 
   text-align: right;
   grid-column:1;
}

.benefits-contained-value1 {
   @insert .value;
   width: auto;
   font-family: discovery-data-text;
   text-align: left;
   grid-column:2/span 3;
}

.benefits-contained-value2 {
   @insert .value;
   width: auto;
   font-family: discovery-data;
   text-align: left;
   grid-column:2/span 3;
}

.benefits-contained-value3 {
   @insert .value;
   width: auto;
   font-family: discovery-data;
   text-align: left;
   grid-column:2/span 3;
}

.benefits-provider-label {
   @insert .label;
   width:auto;
   padding:6px 0 0 0;
   grid-column:1;
}

.benefits-provider-value {
   @insert .value;
   grid-column:2/span 7;
}

.benefits-status-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.benefits-status-value {
   @insert .value;
   text-align: left;
   grid-column:2;
}

.benefits-care-team-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.benefits-care-team-value {
   @insert .value;
   text-align: left;
   grid-column:2/span 2;
   white-space: normal;
   height:auto;
}

.benefits-diagnosis-label {
   @insert .label;
   padding:6px 0 0 0; 
   grid-column:1;
}

.benefits-diagnosis-value {
   @insert .value;
   text-align: left;
   grid-column:2/span 5;
}
