@charset "UTF-8";
@import '../../css/ColorVariablesMaster.css';
@import '../../css/ContentPanelGlobal.css';

/* Sync for Science Discovery Benefits Stylesheet */
/* v.01.04 Updated 12/26/2018 */

.benefits-billable-label {
	@insert .label;
	display:flex;
	padding:3px 0 0 0;   
	grid-column:1;
}

.benefits-billable-value {
	@insert .value;
	font-family: discovery-data;
	width:auto;
	padding:0;
	grid-column:2/span 2;
}

.benefits-billable-value-separator {
 	@insert .label;
	width:auto;
	text-align: center;
	padding:3px 0 0 0; 
	grid-column: 4;
}

.benefits-billable-value2 {
	@insert .value;
	font-family: discovery-data;
	width:auto;
	grid-column:5/span 7;
}

.benefits-claim-type-label {
	@insert .label;
	padding:6px 0 0 0; 
	grid-column:1;
}

.benefits-claim-type-value {
	@insert .value;
	grid-column:2;
}

.benefits-cost-label {
	@insert .label;
	padding:3px 0 0 0; 
	grid-column:1;
}

.benefits-cost-value {
	@insert .value;
	width:auto;
	font-family: discovery-data;
	text-align: right;
	grid-column:2;
}

.benefits-cost-currency {
	@insert .label;
	text-align: left;
	padding:3px 10px 0 0;
	grid-column:3;
}

.benefits-benefit-label {
	@insert .label;
	padding:3px 0 0 0; 
	grid-column:1;
}

.benefits-benefit-value {
	@insert .value;
	width: auto;
	font-family: discovery-data;
	text-align: right;
	grid-column:2;
}

.benefits-benefit-currency {
	@insert .label;
	padding:3px 10px 0 0; 
	grid-column:3;
}

.benefits-status-label {
	@insert .label;
	padding:6px 0 0 0; 
	grid-column:1;
}

.benefits-status-value {
	@insert .value;
	text-align: left;
	grid-column:2;
}
